In [3]:
import pandas as pd
import sqlite3

# Load the Excel sheet into a DataFrame (replace 'your_file.xlsx' and 'Sheet1' with your file and sheet name)
df = pd.read_excel('../Data/Files/Sustain.xlsx', sheet_name='Sheet1', header=None)
df

,0,1,2,3,4,5,6,7,8,9,...,137,138,139,140,141,142,143,144,145,146
0,NaN,Total Sample,NaN,Gender,NaN,NaN,UK County,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Demographics,NaN,NaN,Male,Female,,North East,North West,Yorkshire & The Humber,East Midlands,...,Lush,Lidl,Ecover,Oceansaver,Tesco,No / Don't Know,Tesla,Nike,No Group,
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Gender,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Total,1009,NaN,477,532,,45,114,87,78,...,18,45,21,3,15,714,12,23,112,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
625,NaN,1%,NaN,0.025157,0,,0,0.017544,0,0.025641,...,0,0,0,0,0,0,0,0,0,
626,Nike,23,NaN,13,10,,0,4,1,0,...,0,0,0,0,0,0,0,0,0,
627,NaN,2%,NaN,0.027254,0.018797,,0,0.035088,0.011494,0,...,0,0,0,0,0,0,0,0,0,
628,No Group,112,NaN,57,55,,4,14,12,5,...,0,0,0,0,0,0,0,0,0,
629,NaN,10%,NaN,0.119497,0.103383,,0.088889,0.122807,0.137931,0.064103,...,0,0,0,0,0,0,0,0,0,

In [4]:
import re

def replace_question_number(text):
    if isinstance(text, str):  # Check if the value is a string
        return re.sub(r'Question\s*(\d+).*', r'\1', text)
    return text  # Return the original value if it's not a string

df = df.applymap(replace_question_number)

C:\Users\tanma\AppData\Local\Temp\ipykernel_11448\1026246045.py:8: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df = df.applymap(replace_question_number)

In [5]:
df

,0,1,2,3,4,5,6,7,8,9,...,137,138,139,140,141,142,143,144,145,146
0,NaN,Total Sample,NaN,Gender,NaN,NaN,UK County,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Demographics,NaN,NaN,Male,Female,,North East,North West,Yorkshire & The Humber,East Midlands,...,Lush,Lidl,Ecover,Oceansaver,Tesco,No / Don't Know,Tesla,Nike,No Group,
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Gender,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Total,1009,NaN,477,532,,45,114,87,78,...,18,45,21,3,15,714,12,23,112,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
625,NaN,1%,NaN,0.025157,0,,0,0.017544,0,0.025641,...,0,0,0,0,0,0,0,0,0,
626,Nike,23,NaN,13,10,,0,4,1,0,...,0,0,0,0,0,0,0,0,0,
627,NaN,2%,NaN,0.027254,0.018797,,0,0.035088,0.011494,0,...,0,0,0,0,0,0,0,0,0,
628,No Group,112,NaN,57,55,,4,14,12,5,...,0,0,0,0,0,0,0,0,0,
629,NaN,10%,NaN,0.119497,0.103383,,0.088889,0.122807,0.137931,0.064103,...,0,0,0,0,0,0,0,0,0,

In [6]:
s = ''
i = 0
for x in df.loc[0]:
    if isinstance(x, str):
        if x.isnumeric():
            s = x.strip()
    try:
        df.loc[0,i] = s
    except:
        pass
    i+=1

C:\Users\tanma\AppData\Local\Temp\ipykernel_11448\3351217630.py:8: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[0,i] = s

In [7]:
df

,0,1,2,3,4,5,6,7,8,9,...,137,138,139,140,141,142,143,144,145,146
0,,,,,,,,,,,...,20,20,20,20,20,20,20,20,20,20
1,Demographics,NaN,NaN,Male,Female,,North East,North West,Yorkshire & The Humber,East Midlands,...,Lush,Lidl,Ecover,Oceansaver,Tesco,No / Don't Know,Tesla,Nike,No Group,
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Gender,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Total,1009,NaN,477,532,,45,114,87,78,...,18,45,21,3,15,714,12,23,112,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
625,NaN,1%,NaN,0.025157,0,,0,0.017544,0,0.025641,...,0,0,0,0,0,0,0,0,0,
626,Nike,23,NaN,13,10,,0,4,1,0,...,0,0,0,0,0,0,0,0,0,
627,NaN,2%,NaN,0.027254,0.018797,,0,0.035088,0.011494,0,...,0,0,0,0,0,0,0,0,0,
628,No Group,112,NaN,57,55,,4,14,12,5,...,0,0,0,0,0,0,0,0,0,
629,NaN,10%,NaN,0.119497,0.103383,,0.088889,0.122807,0.137931,0.064103,...,0,0,0,0,0,0,0,0,0,

In [8]:
df.loc[1] = df.loc[1].apply(lambda x: x.strip() if isinstance(x,str) else None)

In [9]:
df

,0,1,2,3,4,5,6,7,8,9,...,137,138,139,140,141,142,143,144,145,146
0,,,,,,,,,,,...,20,20,20,20,20,20,20,20,20,20
1,Demographics,None,None,Male,Female,,North East,North West,Yorkshire & The Humber,East Midlands,...,Lush,Lidl,Ecover,Oceansaver,Tesco,No / Don't Know,Tesla,Nike,No Group,
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Gender,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Total,1009,NaN,477,532,,45,114,87,78,...,18,45,21,3,15,714,12,23,112,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
625,NaN,1%,NaN,0.025157,0,,0,0.017544,0,0.025641,...,0,0,0,0,0,0,0,0,0,
626,Nike,23,NaN,13,10,,0,4,1,0,...,0,0,0,0,0,0,0,0,0,
627,NaN,2%,NaN,0.027254,0.018797,,0,0.035088,0.011494,0,...,0,0,0,0,0,0,0,0,0,
628,No Group,112,NaN,57,55,,4,14,12,5,...,0,0,0,0,0,0,0,0,0,
629,NaN,10%,NaN,0.119497,0.103383,,0.088889,0.122807,0.137931,0.064103,...,0,0,0,0,0,0,0,0,0,

In [10]:
df.loc[0,0] ='Question_Number'
df.loc[1,0] = 'Options'
df.loc[1,1] = 'Value'

In [11]:
df

,0,1,2,3,4,5,6,7,8,9,...,137,138,139,140,141,142,143,144,145,146
0,Question_Number,,,,,,,,,,...,20,20,20,20,20,20,20,20,20,20
1,Options,Value,None,Male,Female,,North East,North West,Yorkshire & The Humber,East Midlands,...,Lush,Lidl,Ecover,Oceansaver,Tesco,No / Don't Know,Tesla,Nike,No Group,
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Gender,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Total,1009,NaN,477,532,,45,114,87,78,...,18,45,21,3,15,714,12,23,112,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
625,NaN,1%,NaN,0.025157,0,,0,0.017544,0,0.025641,...,0,0,0,0,0,0,0,0,0,
626,Nike,23,NaN,13,10,,0,4,1,0,...,0,0,0,0,0,0,0,0,0,
627,NaN,2%,NaN,0.027254,0.018797,,0,0.035088,0.011494,0,...,0,0,0,0,0,0,0,0,0,
628,No Group,112,NaN,57,55,,4,14,12,5,...,0,0,0,0,0,0,0,0,0,
629,NaN,10%,NaN,0.119497,0.103383,,0.088889,0.122807,0.137931,0.064103,...,0,0,0,0,0,0,0,0,0,

In [12]:
df.loc[0,:] = df.loc[0,:].replace('','0')

In [13]:
df

,0,1,2,3,4,5,6,7,8,9,...,137,138,139,140,141,142,143,144,145,146
0,Question_Number,0,0,0,0,0,0,0,0,0,...,20,20,20,20,20,20,20,20,20,20
1,Options,Value,None,Male,Female,,North East,North West,Yorkshire & The Humber,East Midlands,...,Lush,Lidl,Ecover,Oceansaver,Tesco,No / Don't Know,Tesla,Nike,No Group,
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Gender,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Total,1009,NaN,477,532,,45,114,87,78,...,18,45,21,3,15,714,12,23,112,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
625,NaN,1%,NaN,0.025157,0,,0,0.017544,0,0.025641,...,0,0,0,0,0,0,0,0,0,
626,Nike,23,NaN,13,10,,0,4,1,0,...,0,0,0,0,0,0,0,0,0,
627,NaN,2%,NaN,0.027254,0.018797,,0,0.035088,0.011494,0,...,0,0,0,0,0,0,0,0,0,
628,No Group,112,NaN,57,55,,4,14,12,5,...,0,0,0,0,0,0,0,0,0,
629,NaN,10%,NaN,0.119497,0.103383,,0.088889,0.122807,0.137931,0.064103,...,0,0,0,0,0,0,0,0,0,

In [14]:
df

,0,1,2,3,4,5,6,7,8,9,...,137,138,139,140,141,142,143,144,145,146
0,Question_Number,0,0,0,0,0,0,0,0,0,...,20,20,20,20,20,20,20,20,20,20
1,Options,Value,None,Male,Female,,North East,North West,Yorkshire & The Humber,East Midlands,...,Lush,Lidl,Ecover,Oceansaver,Tesco,No / Don't Know,Tesla,Nike,No Group,
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Gender,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Total,1009,NaN,477,532,,45,114,87,78,...,18,45,21,3,15,714,12,23,112,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
625,NaN,1%,NaN,0.025157,0,,0,0.017544,0,0.025641,...,0,0,0,0,0,0,0,0,0,
626,Nike,23,NaN,13,10,,0,4,1,0,...,0,0,0,0,0,0,0,0,0,
627,NaN,2%,NaN,0.027254,0.018797,,0,0.035088,0.011494,0,...,0,0,0,0,0,0,0,0,0,
628,No Group,112,NaN,57,55,,4,14,12,5,...,0,0,0,0,0,0,0,0,0,
629,NaN,10%,NaN,0.119497,0.103383,,0.088889,0.122807,0.137931,0.064103,...,0,0,0,0,0,0,0,0,0,

In [15]:
df.loc[0,:].to_list()

['Question_Number',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '4',
 '4',
 '4',
 '4',
 '4',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '8',
 '8',
 '8',
 '8',
 '8',
 '8',
 '9',
 '9',
 '9',
 '9',
 '9',
 '9',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '12',
 '12',
 '12',
 '12',
 '12',
 '12',
 '15',
 '15',
 '15',
 '15',
 '16',
 '16',
 '16',
 '16',
 '16',
 '16',
 '16',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '19',
 '19',
 '19',
 '19',
 '19',
 '19',
 '20',
 '20',
 '20',
 '20',
 '20',
 '20',
 '20',
 '20',
 '20',
 '20',
 '20',
 '20',
 '20',
 '20',
 '20',
 '20']

In [16]:
df.columns = df.iloc[1]
df = df.drop(index=1).reset_index(drop=True)
df

1,Options,Value,None,Male,Female,,North East,North West,Yorkshire & The Humber,East Midlands,...,Lush,Lidl,Ecover,Oceansaver,Tesco,No / Don't Know,Tesla,Nike,No Group,
0,Question_Number,0,0,0,0,0,0,0,0,0,...,20,20,20,20,20,20,20,20,20,20
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Gender,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Total,1009,NaN,477,532,,45,114,87,78,...,18,45,21,3,15,714,12,23,112,
4,NaN,100%,NaN,47%,53%,,4%,11%,9%,8%,...,2%,4%,2%,0%,1%,64%,1%,2%,10%,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
624,NaN,1%,NaN,0.025157,0,,0,0.017544,0,0.025641,...,0,0,0,0,0,0,0,0,0,
625,Nike,23,NaN,13,10,,0,4,1,0,...,0,0,0,0,0,0,0,0,0,
626,NaN,2%,NaN,0.027254,0.018797,,0,0.035088,0.011494,0,...,0,0,0,0,0,0,0,0,0,
627,No Group,112,NaN,57,55,,4,14,12,5,...,0,0,0,0,0,0,0,0,0,
628,NaN,10%,NaN,0.119497,0.103383,,0.088889,0.122807,0.137931,0.064103,...,0,0,0,0,0,0,0,0,0,

In [155]:
def clear_table(df):
    # df.rename(columns={ df.columns[1]: "Value" }, inplace = True)
    df.dropna(how='all', axis=0, inplace=True)
    df.dropna(how='all', axis=1, inplace=True)
    df.dropna(subset=['Options'],inplace=True)
    df = df.loc[:, df.columns.notna() & (df.columns != '')]
    
    # df.rename(columns={'Unnamed: 1':'Count'},inplace=True)
    
    df.reset_index(inplace=True)
    df.drop(columns=['index'],inplace=True)
    # df['Options'] = df['Options'].apply(str)
    df['Options'] = df['Options'].apply(lambda x: x.encode('ascii', 'ignore').decode('ascii'))
    df['Options'] = df['Options'].astype("string")
    print(df['Options'].dtype)

    for column in df.columns:
        
        if isinstance(df[column], pd.DataFrame):
            print(f"Column '{column}' contains DataFrame(s):")
            print(df[column])
        try:
            if df[column].dtype == 'object':  # Check if the column type is 'object' (potentially unsupported types)
                df[column] = df[column].astype('double')  # Convert the column to string
        except:
            print(column)
        # print(column)
        # print(df[column].dtype)
        # print('--------------')
            
    return df

In [156]:
df = clear_table(df)
df

C:\Users\tanma\AppData\Local\Temp\ipykernel_20980\382810818.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns=['index'],inplace=True)
C:\Users\tanma\AppData\Local\Temp\ipykernel_20980\382810818.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Options'] = df['Options'].apply(lambda x: x.encode('ascii', 'ignore').decode('ascii'))
C:\Users\tanma\AppData\Local\Temp\ipykernel_20980\382810818.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Options'] = df['Options'].astype("string")
C:\Users\tanma\AppData\Local\Temp\ipykernel_20980\382810818.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = df[column].astype('double')  # Convert the column to string
C:\Users\tanma\AppData\Local\Temp\ipykernel_20980\382810818.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = df[column].astype('double')  # Convert the column to string
C:\Users\tanma\AppData\Local\Temp\ipykernel_20980\382810818.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = df[column].astype('double')  # Convert the column to string
C:\Users\tanma\AppData\Local\Temp\ipykernel_20980\382810818.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = df[column].astype('double')  # Convert the column to string
C:\Users\tanma\AppData\Local\Temp\ipykernel_20980\382810818.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = df[column].astype('double')  # Convert the column to string
C:\Users\tanma\AppData\Local\Temp\ipykernel_20980\382810818.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = df[column].astype('double')  # Convert the column to string
C:\Users\tanma\AppData\Local\Temp\ipykernel_20980\382810818.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = df[column].astype('double')  # Convert the column to string
C:\Users\tanma\AppData\Local\Temp\ipykernel_20980\382810818.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = df[column].astype('double')  # Convert the column to string
C:\Users\tanma\AppData\Local\Temp\ipykernel_20980\382810818.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = df[column].astype('double')  # Convert the column to string
C:\Users\tanma\AppData\Local\Temp\ipykernel_20980\382810818.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = df[column].astype('double')  # Convert the column to string
C:\Users\tanma\AppData\Local\Temp\ipykernel_20980\382810818.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = df[column].astype('double')  # Convert the column to string
C:\Users\tanma\AppData\Local\Temp\ipykernel_20980\382810818.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = df[column].astype('double')  # Convert the column to string
C:\Users\tanma\AppData\Local\Temp\ipykernel_20980\382810818.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = df[column].astype('double')  # Convert the column to string
C:\Users\tanma\AppData\Local\Temp\ipykernel_20980\382810818.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = df[column].astype('double')  # Convert the column to string
C:\Users\tanma\AppData\Local\Temp\ipykernel_20980\382810818.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = df[column].astype('double')  # Convert the column to string
C:\Users\tanma\AppData\Local\Temp\ipykernel_20980\382810818.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = df[column].astype('double')  # Convert the column to string
C:\Users\tanma\AppData\Local\Temp\ipykernel_20980\382810818.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = df[column].astype('double')  # Convert the column to string
C:\Users\tanma\AppData\Local\Temp\ipykernel_20980\382810818.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = df[column].astype('double')  # Convert the column to string
C:\Users\tanma\AppData\Local\Temp\ipykernel_20980\382810818.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = df[column].astype('double')  # Convert the column to string
C:\Users\tanma\AppData\Local\Temp\ipykernel_20980\382810818.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = df[column].astype('double')  # Convert the column to string
C:\Users\tanma\AppData\Local\Temp\ipykernel_20980\382810818.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = df[column].astype('double')  # Convert the column to string
C:\Users\tanma\AppData\Local\Temp\ipykernel_20980\382810818.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = df[column].astype('double')  # Convert the column to string
C:\Users\tanma\AppData\Local\Temp\ipykernel_20980\382810818.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = df[column].astype('double')  # Convert the column to string
C:\Users\tanma\AppData\Local\Temp\ipykernel_20980\382810818.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = df[column].astype('double')  # Convert the column to string
C:\Users\tanma\AppData\Local\Temp\ipykernel_20980\382810818.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = df[column].astype('double')  # Convert the column to string
C:\Users\tanma\AppData\Local\Temp\ipykernel_20980\382810818.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = df[column].astype('double')  # Convert the column to string
C:\Users\tanma\AppData\Local\Temp\ipykernel_20980\382810818.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = df[column].astype('double')  # Convert the column to string
C:\Users\tanma\AppData\Local\Temp\ipykernel_20980\382810818.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = df[column].astype('double')  # Convert the column to string
C:\Users\tanma\AppData\Local\Temp\ipykernel_20980\382810818.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = df[column].astype('double')  # Convert the column to string
C:\Users\tanma\AppData\Local\Temp\ipykernel_20980\382810818.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = df[column].astype('double')  # Convert the column to string
C:\Users\tanma\AppData\Local\Temp\ipykernel_20980\382810818.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = df[column].astype('double')  # Convert the column to string
C:\Users\tanma\AppData\Local\Temp\ipykernel_20980\382810818.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = df[column].astype('double')  # Convert the column to string
C:\Users\tanma\AppData\Local\Temp\ipykernel_20980\382810818.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = df[column].astype('double')  # Convert the column to string
C:\Users\tanma\AppData\Local\Temp\ipykernel_20980\382810818.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = df[column].astype('double')  # Convert the column to string
C:\Users\tanma\AppData\Local\Temp\ipykernel_20980\382810818.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = df[column].astype('double')  # Convert the column to string
C:\Users\tanma\AppData\Local\Temp\ipykernel_20980\382810818.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = df[column].astype('double')  # Convert the column to string
C:\Users\tanma\AppData\Local\Temp\ipykernel_20980\382810818.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = df[column].astype('double')  # Convert the column to string
C:\Users\tanma\AppData\Local\Temp\ipykernel_20980\382810818.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = df[column].astype('double')  # Convert the column to string
C:\Users\tanma\AppData\Local\Temp\ipykernel_20980\382810818.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = df[column].astype('double')  # Convert the column to string
C:\Users\tanma\AppData\Local\Temp\ipykernel_20980\382810818.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = df[column].astype('double')  # Convert the column to string
C:\Users\tanma\AppData\Local\Temp\ipykernel_20980\382810818.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = df[column].astype('double')  # Convert the column to string
C:\Users\tanma\AppData\Local\Temp\ipykernel_20980\382810818.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = df[column].astype('double')  # Convert the column to string
C:\Users\tanma\AppData\Local\Temp\ipykernel_20980\382810818.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = df[column].astype('double')  # Convert the column to string
C:\Users\tanma\AppData\Local\Temp\ipykernel_20980\382810818.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

string
Column 'None of the above' contains DataFrame(s):
1   None of the above None of the above None of the above
0                   2                10                11
1                 NaN               NaN               NaN
2                 715                79                82
3                 335                41                38
4                 380                38                44
..                ...               ...               ...
309                13                 0                 0
310               528                66                66
311                 6                 2                 2
312                13                 0                 1
313                67                 4                 6

[314 rows x 3 columns]
None of the above
Column 'Neither' contains DataFrame(s):
1   Neither Neither Neither
0         4      12      19
1       NaN     NaN     NaN
2       205     248     254
3        92     106     118
4       113     142     136
..      ...     ...     ...
309       1       4       3
310     167     189     185
311       2       0       3
312       1       2       3
313      17      24      28

[314 rows x 3 columns]
Neither
Column 'No Group' contains DataFrame(s):
1   No Group No Group No Group
0          5       17       20
1        NaN      NaN      NaN
2        161       66      112
3         92       43       57
4         69       23       55
..       ...      ...      ...
309        3        1        0
310      109       44        0
311        6        0        0
312        6        3        0
313       21       14        0

[314 rows x 3 columns]
No Group
Column 'Deforestation-free supply chain (minimising the consumption of products associated with deforestation and forest degradation)' contains DataFrame(s):
1   Deforestation-free supply chain (minimising the consumption of products associated with deforestation and forest degradation)  \
0                                                   10
1                                                  NaN
2                                                  423
3                                                  199
4                                                  224
..                                                 ...
309                                                  9
310                                                289
311                                                  4
312                                                  7
313                                                 52

1   Deforestation-free supply chain (minimising the consumption of products associated with deforestation and forest degradation)
0                                                   11
1                                                  NaN
2                                                  219
3                                                  125
4                                                   94
..                                                 ...
309                                                  7
310                                                150
311                                                  1
312                                                  5
313                                                 32

[314 rows x 2 columns]
Deforestation-free supply chain (minimising the consumption of products associated with deforestation and forest degradation)
Column 'Donating a proportion of profits to environmental organisations' contains DataFrame(s):
1   Donating a proportion of profits to environmental organisations  \
0                                                   10
1                                                  NaN
2                                                  311
3                                                  140
4                                                  171
..                                                 ...
309                                                  6
310                                                200
311                                                  3
312                                                  8
313                                                 45

1   Donating a proportion of profits to environmental organisations
0                                                   11
1                                                  NaN
2                                                  172
3                                                   92
4                                                   80
..                                                 ...
309                                                  1
310                                                115
311                                                  2
312                                                  6
313                                                 25

[314 rows x 2 columns]
Donating a proportion of profits to environmental organisations
Column 'Implementing reduced waste goals' contains DataFrame(s):
1   Implementing reduced waste goals Implementing reduced waste goals
0                                 10                               11
1                                NaN                              NaN
2                                426                              177
3                                185                               74
4                                241                              103
..                               ...                              ...
309                                7                                2
310                              298                              128
311                                5                                1
312                                4                                3
313                               48                               13

[314 rows x 2 columns]
Implementing reduced waste goals
Column 'Partnering with local producers of materials' contains DataFrame(s):
1   Partnering with local producers of materials  \
0                                             10
1                                            NaN
2                                            282
3                                            126
4                                            156
..                                           ...
309                                            4
310                                          189
311                                            2
312                                            4
313                                           36

1   Partnering with local producers of materials
0                                             11
1                                            NaN
2                                             63
3                                             24
4                                             39
..                                           ...
309                                            2
310                                           44
311                                            1
312                                            3
313                                            8

[314 rows x 2 columns]
Partnering with local producers of materials
Column 'Planting trees to help protect the environment' contains DataFrame(s):
1   Planting trees to help protect the environment  \
0                                               10
1                                              NaN
2                                              431
3                                              192
4                                              239
..                                             ...
309                                              8
310                                            299
311                                              3
312                                             11
313                                             55

1   Planting trees to help protect the environment
0                                               11
1                                              NaN
2                                               77
3                                               31
4                                               46
..                                             ...
309                                              1
310                                             56
311                                              1
312                                              2
313                                              9

[314 rows x 2 columns]
Planting trees to help protect the environment
Column 'Reducing greenhouse gas emissions' contains DataFrame(s):
1   Reducing greenhouse gas emissions Reducing greenhouse gas emissions
0                                  10                                11
1                                 NaN                               NaN
2                                 352                                66
3                                 164                                29
4                                 188                                37
..                                ...                               ...
309                                 7                                 0
310                               229                                45
311                                 3                                 2
312                                 7                                 1
313                                44                                 4

[314 rows x 2 columns]
Reducing greenhouse gas emissions
Column 'Reducing production of plastic packaging' contains DataFrame(s):
1   Reducing production of plastic packaging  \
0                                         10
1                                        NaN
2                                        434
3                                        177
4                                        257
..                                       ...
309                                        7
310                                      303
311                                        2
312                                        6
313                                       51

1   Reducing production of plastic packaging
0                                         11
1                                        NaN
2                                         84
3                                         34
4                                         50
..                                       ...
309                                        1
310                                       63
311                                        1
312                                        1
313                                        5

[314 rows x 2 columns]
Reducing production of plastic packaging
Column 'Sourcing renewable / ‘green’ energy for production' contains DataFrame(s):
1   Sourcing renewable / ‘green’ energy for production  \
0                                                   10
1                                                  NaN
2                                                  306
3                                                  146
4                                                  160
..                                                 ...
309                                                  7
310                                                201
311                                                  3
312                                                  8
313                                                 42

1   Sourcing renewable / ‘green’ energy for production
0                                                   11
1                                                  NaN
2                                                   18
3                                                    6
4                                                   12
..                                                 ...
309                                                  0
310                                                 10
311                                                  0
312                                                  0
313                                                  2

[314 rows x 2 columns]
Sourcing renewable / ‘green’ energy for production
Column 'Using biofuels' contains DataFrame(s):
1   Using biofuels Using biofuels
0               10             11
1              NaN            NaN
2              179              7
3               92              2
4               87              5
..             ...            ...
309              5              0
310            118              6
311              2              0
312              5              0
313             26              0

[314 rows x 2 columns]
Using biofuels
Column 'Using certified ‘sustainable’ materials in production (eg Forest Stewardship Council-certified (FSC)' contains DataFrame(s):
1   Using certified ‘sustainable’ materials in production (eg Forest Stewardship Council-certified (FSC)  \
0                                                   10
1                                                  NaN
2                                                  272
3                                                  128
4                                                  144
..                                                 ...
309                                                  6
310                                                187
311                                                  5
312                                                  4
313                                                 34

1   Using certified ‘sustainable’ materials in production (eg Forest Stewardship Council-certified (FSC)
0                                                   11
1                                                  NaN
2                                                   43
3                                                   21
4                                                   22
..                                                 ...
309                                                  1
310                                                 30
311                                                  1
312                                                  0
313                                                  8

[314 rows x 2 columns]
Using certified ‘sustainable’ materials in production (eg Forest Stewardship Council-certified (FSC)
Column 'None of the above' contains DataFrame(s):
1   None of the above None of the above None of the above
0                   2                10                11
1                 NaN               NaN               NaN
2                 715                79                82
3                 335                41                38
4                 380                38                44
..                ...               ...               ...
309                13                 0                 0
310               528                66                66
311                 6                 2                 2
312                13                 0                 1
313                67                 4                 6

[314 rows x 3 columns]
None of the above
Column 'Deforestation-free supply chain (minimising the consumption of products associated with deforestation and forest degradation)' contains DataFrame(s):
1   Deforestation-free supply chain (minimising the consumption of products associated with deforestation and forest degradation)  \
0                                                   10
1                                                  NaN
2                                                  423
3                                                  199
4                                                  224
..                                                 ...
309                                                  9
310                                                289
311                                                  4
312                                                  7
313                                                 52

1   Deforestation-free supply chain (minimising the consumption of products associated with deforestation and forest degradation)
0                                                   11
1                                                  NaN
2                                                  219
3                                                  125
4                                                   94
..                                                 ...
309                                                  7
310                                                150
311                                                  1
312                                                  5
313                                                 32

[314 rows x 2 columns]
Deforestation-free supply chain (minimising the consumption of products associated with deforestation and forest degradation)
Column 'Donating a proportion of profits to environmental organisations' contains DataFrame(s):
1   Donating a proportion of profits to environmental organisations  \
0                                                   10
1                                                  NaN
2                                                  311
3                                                  140
4                                                  171
..                                                 ...
309                                                  6
310                                                200
311                                                  3
312                                                  8
313                                                 45

1   Donating a proportion of profits to environmental organisations
0                                                   11
1                                                  NaN
2                                                  172
3                                                   92
4                                                   80
..                                                 ...
309                                                  1
310                                                115
311                                                  2
312                                                  6
313                                                 25

[314 rows x 2 columns]
Donating a proportion of profits to environmental organisations
Column 'Implementing reduced waste goals' contains DataFrame(s):
1   Implementing reduced waste goals Implementing reduced waste goals
0                                 10                               11
1                                NaN                              NaN
2                                426                              177
3                                185                               74
4                                241                              103
..                               ...                              ...
309                                7                                2
310                              298                              128
311                                5                                1
312                                4                                3
313                               48                               13

[314 rows x 2 columns]
Implementing reduced waste goals
Column 'Partnering with local producers of materials' contains DataFrame(s):
1   Partnering with local producers of materials  \
0                                             10
1                                            NaN
2                                            282
3                                            126
4                                            156
..                                           ...

C:\Users\tanma\AppData\Local\Temp\ipykernel_20980\382810818.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = df[column].astype('double')  # Convert the column to string
C:\Users\tanma\AppData\Local\Temp\ipykernel_20980\382810818.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = df[column].astype('double')  # Convert the column to string
C:\Users\tanma\AppData\Local\Temp\ipykernel_20980\382810818.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = df[column].astype('double')  # Convert the column to string
C:\Users\tanma\AppData\Local\Temp\ipykernel_20980\382810818.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = df[column].astype('double')  # Convert the column to string
C:\Users\tanma\AppData\Local\Temp\ipykernel_20980\382810818.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = df[column].astype('double')  # Convert the column to string
C:\Users\tanma\AppData\Local\Temp\ipykernel_20980\382810818.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = df[column].astype('double')  # Convert the column to string
C:\Users\tanma\AppData\Local\Temp\ipykernel_20980\382810818.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = df[column].astype('double')  # Convert the column to string
C:\Users\tanma\AppData\Local\Temp\ipykernel_20980\382810818.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = df[column].astype('double')  # Convert the column to string
C:\Users\tanma\AppData\Local\Temp\ipykernel_20980\382810818.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = df[column].astype('double')  # Convert the column to string
C:\Users\tanma\AppData\Local\Temp\ipykernel_20980\382810818.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = df[column].astype('double')  # Convert the column to string
C:\Users\tanma\AppData\Local\Temp\ipykernel_20980\382810818.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = df[column].astype('double')  # Convert the column to string
C:\Users\tanma\AppData\Local\Temp\ipykernel_20980\382810818.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = df[column].astype('double')  # Convert the column to string
C:\Users\tanma\AppData\Local\Temp\ipykernel_20980\382810818.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = df[column].astype('double')  # Convert the column to string
C:\Users\tanma\AppData\Local\Temp\ipykernel_20980\382810818.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = df[column].astype('double')  # Convert the column to string
C:\Users\tanma\AppData\Local\Temp\ipykernel_20980\382810818.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = df[column].astype('double')  # Convert the column to string
C:\Users\tanma\AppData\Local\Temp\ipykernel_20980\382810818.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = df[column].astype('double')  # Convert the column to string
C:\Users\tanma\AppData\Local\Temp\ipykernel_20980\382810818.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = df[column].astype('double')  # Convert the column to string
C:\Users\tanma\AppData\Local\Temp\ipykernel_20980\382810818.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = df[column].astype('double')  # Convert the column to string
C:\Users\tanma\AppData\Local\Temp\ipykernel_20980\382810818.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = df[column].astype('double')  # Convert the column to string
C:\Users\tanma\AppData\Local\Temp\ipykernel_20980\382810818.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = df[column].astype('double')  # Convert the column to string
C:\Users\tanma\AppData\Local\Temp\ipykernel_20980\382810818.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = df[column].astype('double')  # Convert the column to string
C:\Users\tanma\AppData\Local\Temp\ipykernel_20980\382810818.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = df[column].astype('double')  # Convert the column to string
C:\Users\tanma\AppData\Local\Temp\ipykernel_20980\382810818.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = df[column].astype('double')  # Convert the column to string
C:\Users\tanma\AppData\Local\Temp\ipykernel_20980\382810818.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = df[column].astype('double')  # Convert the column to string
C:\Users\tanma\AppData\Local\Temp\ipykernel_20980\382810818.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = df[column].astype('double')  # Convert the column to string
C:\Users\tanma\AppData\Local\Temp\ipykernel_20980\382810818.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = df[column].astype('double')  # Convert the column to string
C:\Users\tanma\AppData\Local\Temp\ipykernel_20980\382810818.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = df[column].astype('double')  # Convert the column to string
C:\Users\tanma\AppData\Local\Temp\ipykernel_20980\382810818.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = df[column].astype('double')  # Convert the column to string
C:\Users\tanma\AppData\Local\Temp\ipykernel_20980\382810818.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = df[column].astype('double')  # Convert the column to string
C:\Users\tanma\AppData\Local\Temp\ipykernel_20980\382810818.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = df[column].astype('double')  # Convert the column to string
C:\Users\tanma\AppData\Local\Temp\ipykernel_20980\382810818.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = df[column].astype('double')  # Convert the column to string
C:\Users\tanma\AppData\Local\Temp\ipykernel_20980\382810818.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = df[column].astype('double')  # Convert the column to string
C:\Users\tanma\AppData\Local\Temp\ipykernel_20980\382810818.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = df[column].astype('double')  # Convert the column to string
C:\Users\tanma\AppData\Local\Temp\ipykernel_20980\382810818.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = df[column].astype('double')  # Convert the column to string
C:\Users\tanma\AppData\Local\Temp\ipykernel_20980\382810818.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = df[column].astype('double')  # Convert the column to string
C:\Users\tanma\AppData\Local\Temp\ipykernel_20980\382810818.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = df[column].astype('double')  # Convert the column to string
C:\Users\tanma\AppData\Local\Temp\ipykernel_20980\382810818.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = df[column].astype('double')  # Convert the column to string
C:\Users\tanma\AppData\Local\Temp\ipykernel_20980\382810818.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = df[column].astype('double')  # Convert the column to string
C:\Users\tanma\AppData\Local\Temp\ipykernel_20980\382810818.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = df[column].astype('double')  # Convert the column to string
C:\Users\tanma\AppData\Local\Temp\ipykernel_20980\382810818.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = df[column].astype('double')  # Convert the column to string
C:\Users\tanma\AppData\Local\Temp\ipykernel_20980\382810818.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = df[column].astype('double')  # Convert the column to string

1,Options,Value,Male,Female,North East,North West,Yorkshire & The Humber,East Midlands,West Midlands,East of England,...,Apple,Lush,Lidl,Ecover,Oceansaver,Tesco,No / Don't Know,Tesla,Nike,No Group
0,Question_Number,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,20.0,20.0,20.0,20.0,20.0,20.0,20.0,20.0,20.0,20
1,Gender,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Total,1009.0,477.0,532.0,45.0,114.0,87.0,78.0,97.0,92.0,...,52.0,18.0,45.0,21.0,3.0,15.0,714.0,12.0,23.0,112
3,Male,477.0,477.0,NaN,22.0,54.0,42.0,37.0,47.0,43.0,...,25.0,7.0,28.0,10.0,1.0,8.0,321.0,12.0,13.0,57
4,Female,532.0,NaN,532.0,23.0,60.0,45.0,41.0,50.0,49.0,...,27.0,11.0,17.0,11.0,2.0,7.0,393.0,0.0,10.0,55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
309,Tesco,15.0,8.0,7.0,0.0,0.0,0.0,2.0,2.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
310,No / Don't Know,714.0,321.0,393.0,34.0,80.0,58.0,58.0,74.0,55.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
311,Tesla,12.0,12.0,0.0,0.0,2.0,0.0,2.0,0.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
312,Nike,23.0,13.0,10.0,0.0,4.0,1.0,0.0,2.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
313,No Group,112.0,57.0,55.0,4.0,14.0,12.0,5.0,11.0,10.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0

In [157]:
df.loc[0].tolist()

['Question_Number',
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 '2',
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 4.0,
 4.0,
 '4',
 4.0,
 4.0,
 5.0,
 5.0,
 5.0,
 5.0,
 5.0,
 5.0,
 5.0,
 5.0,
 5.0,
 5.0,
 5.0,
 5.0,
 '5',
 8.0,
 8.0,
 8.0,
 8.0,
 8.0,
 9.0,
 9.0,
 9.0,
 9.0,
 9.0,
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 12.0,
 12.0,
 '12',
 12.0,
 12.0,
 15.0,
 15.0,
 15.0,
 16.0,
 16.0,
 16.0,
 16.0,
 16.0,
 16.0,
 17.0,
 17.0,
 17.0,
 17.0,
 17.0,
 17.0,
 17.0,
 17.0,
 17.0,
 17.0,
 17.0,
 17.0,
 '17',
 19.0,
 19.0,
 '19',
 19.0,
 19.0,
 20.0,
 20.0,
 20.0,
 20.0,
 20.0,
 20.0,
 20.0,
 20.0,
 20.0,
 20.0,
 20.0,
 20.0,
 20.0,
 20.0,
 '20']

In [158]:
df.to_csv('filtered_data_sust.csv')

PermissionError: [Errno 13] Permission denied: 'filtered_data_sust.csv'

In [166]:
import pandas as pd
import sqlite3


tables = []
current_table = []

conn = sqlite3.connect('test2.db')
# i = 0 ##Question number
# Iterate over the rows of the dataframe starting after the header row (row 0)

q_no = df.loc[0].tolist()

for idx, row in df.iterrows():
    x = str(row[0])
    if idx == 0:
        continue  # Skip the header row since we already got column names
    
    if x.isdigit() and len(x) < 3:  # If the row contains a question (adjust condition as needed)
        # If a current table exists, append it to the list of tables
        if current_table:
            # Convert collected rows into a DataFrame and assign column names
            
            table_df = pd.DataFrame(current_table, columns=df.columns)
            # table_df = pd.concat([table_df,df.loc[:0]],ignore_index=True)
            # print(table_df.T)
            # print('-------------------------')
            # print(table_df.head())
            # table_df = clear_table(table_df)
            # table_df['Question_Number'] = i
            indexes = df.columns.to_list()
            print(indexes)
            table_df = table_df.drop_duplicates().T.reset_index(drop=True)
            table_df[100] = df.loc[0].tolist() 
            table_df.columns = table_df.loc[0]
            table_df = table_df.drop(index=0)
            if tables and int(x)>0:
                table_df.drop(columns=['Total'],inplace=True) #Drop Total column
            table_df['Options'] = indexes[1:]
            tables.append(table_df)

            print(table_df)
            print('-------------------------')

            table_df.to_sql(f'Question_{i}', conn, if_exists='replace', index=False)
            current_table = []  # Reset for the next table
            i+=1
            print(x)
    else:
        current_table.append(row.tolist())  # Collect rows into the current table

# Append the last table if any rows were collected
if current_table:
    table_df = pd.DataFrame(current_table, columns=df.columns)
    # table_df = pd.concat([table_df,df.loc[:0]],ignore_index=True)
    table_df = table_df.T.reset_index(drop=True)
    table_df[100] = df.loc[0].tolist() 
    table_df.columns = table_df.loc[0]
    table_df = table_df.drop(index=0)
    table_df.drop(columns=['Total'],inplace=True) #Drop Total column
    table_df['Options'] = indexes[1:]
    table_df.to_sql(f'Question_{i}', conn, if_exists='replace', index=False)
    # table_df = clear_table(table_df)
    print(table_df)
    tables.append(table_df)


# Now you can process or save each table separately
# for i, table in enumerate(tables):
#     print(f"Question {i}:")
#     print(table)
#     table.fillna(0, inplace=True)
#     # Optionally save each table to a separate Excel file
#     # table.to_sql(f'Question_{i}', conn, if_exists='replace', index=False)
#     table.to_csv(f'Question_{i}.csv')

C:\Users\tanma\AppData\Local\Temp\ipykernel_20980\48040473.py:15: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  x = str(row[0])
C:\Users\tanma\AppData\Local\Temp\ipykernel_20980\48040473.py:15: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  x = str(row[0])
C:\Users\tanma\AppData\Local\Temp\ipykernel_20980\48040473.py:15: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  x = str(row[0])
C:\Users\tanma\AppData\Local\Temp\ipykernel_20980\48040473.py:15: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  x = str(row[0])

['Options', 'Value', 'Male', 'Female', 'North East', 'North West', 'Yorkshire & The Humber', 'East Midlands', 'West Midlands', 'East of England', 'London', 'South East', 'South West', 'Wales', 'Scotland', 'Northern Ireland', '18-24', '25-34', '35-44', '45-54', '55-64', 'Vegetarian', 'Vegan', 'Pescatarian', 'Halal', 'Kosher', 'None of the above', 'Always', 'Often', 'Sometimes', 'Rarely', 'Never', 'Very important', 'Fairly important', 'Neither', 'Fairly unimportant', 'Very unimportant', 'Environmentally Friendly', 'Good for the planet', 'Less waste', 'Local', 'Ethical', "Don't Know", 'Longer lasting', 'No natural resource depletion', 'Recyclable', 'Locally Sourced', 'Zero Carbon', 'Reuse or Repurpose', 'No Group', 'The UK government', 'Global corporations e.g the companies that own large well-known brands', 'Global agencies e.g WWF, Greenpeace, friends of the earth etc', 'All adults who live in the UK', 'All of the above', 'Very Much', 'Somewhat', 'Undecided', 'Not Really', 'Not at all', 'Deforestation-free supply chain (minimising the consumption of products associated with deforestation and forest degradation)', 'Donating a proportion of profits to environmental organisations', 'Implementing reduced waste goals', 'Partnering with local producers of materials', 'Planting trees to help protect the environment', 'Reducing greenhouse gas emissions', 'Reducing production of plastic packaging', 'Sourcing renewable / ‘green’ energy for production', 'Using biofuels', 'Using certified ‘sustainable’ materials in production (eg Forest Stewardship Council-certified (FSC)', 'None of the above', 'Deforestation-free supply chain (minimising the consumption of products associated with deforestation and forest degradation)', 'Donating a proportion of profits to environmental organisations', 'Implementing reduced waste goals', 'Partnering with local producers of materials', 'Planting trees to help protect the environment', 'Reducing greenhouse gas emissions', 'Reducing production of plastic packaging', 'Sourcing renewable / ‘green’ energy for production', 'Using biofuels', 'Using certified ‘sustainable’ materials in production (eg Forest Stewardship Council-certified (FSC)', 'None of the above', 'Very influenced', 'Fairly influenced', 'Neither', 'Not very influenced', 'Not at all influenced', 'Yes', 'No', "Don't know", 'Food & Beverage (food items, alcohol, carbonated drinks etc)', 'Health, Beauty & Cosmetics (haircare, skincare, make up, fragrances, toiletries etc.)', 'Household Goods (cleaning items, food wrapping, toilet paper etc.)', 'Fashion & Clothing (sports, casual, speciality, everyday etc)', 'Computers & Consumer Electronics (home appliances, entertainment, gaming etc)', 'Other', 'Use of Chemicals', 'Use of Palm Oil', 'Animal Testing', 'Ethical Concerns', 'Plastic Packaging', 'Renewable Resources', 'Environmental Impact', 'Sustainability', 'Unethical Practices', 'Supporting Genocide', 'Quality', 'Price', 'No Group', 'Strongly Agree', 'Slightly Agree', 'Neither', 'Slightly Disagree', 'Strongly Disagree', 'Amazon', 'Smol', 'Coca Cola', 'Patagonia', 'The Body Shop', 'Apple', 'Lush', 'Lidl', 'Ecover', 'Oceansaver', 'Tesco', "No / Don't Know", 'Tesla', 'Nike', 'No Group']
0   Gender   Total   Male Female UK County North East North West  \
1      NaN  1009.0  477.0  532.0       NaN       45.0      114.0
2      NaN   477.0  477.0    NaN       NaN       22.0       54.0
3      NaN   532.0    NaN  532.0       NaN       23.0       60.0
4      NaN    45.0   22.0   23.0       NaN       45.0        NaN
5      NaN   114.0   54.0   60.0       NaN        NaN      114.0
..     ...     ...    ...    ...       ...        ...        ...
124    NaN    15.0    8.0    7.0       NaN        0.0        0.0
125    NaN   714.0  321.0  393.0       NaN       34.0       80.0
126    NaN    12.0   12.0    0.0       NaN        0.0        2.0
127    NaN    23.0   13.0   10.0       NaN        0.0        4.0
128    NaN   112.0   57.0   55.0       NaN        4.0       14.0

0   Yorkshire & The Humber East Midlands West Midlands  ... Scotland  \
1                     87.0          78.0          97.0  ...     76.0
2                     42.0          37.0          47.0  ...     33.0
3                     45.0          41.0          50.0  ...     43.0
4                      NaN           NaN           NaN  ...      NaN
5                      NaN           NaN           NaN  ...      NaN
..                     ...           ...           ...  ...      ...
124                    0.0           2.0           2.0  ...      1.0
125                   58.0          58.0          74.0  ...     53.0
126                    0.0           2.0           0.0  ...      1.0
127                    1.0           0.0           2.0  ...      0.0
128                   12.0           5.0          11.0  ...     11.0

0   Northern Ireland  Age  18-24  25-34  35-44  45-54  55-64 Question_Number  \
1               31.0  NaN  134.0  211.0  278.0  217.0  169.0             0.0
2               10.0  NaN   59.0   97.0  132.0  104.0   85.0             0.0
3               21.0  NaN   75.0  114.0  146.0  113.0   84.0             0.0
4                NaN  NaN    7.0    9.0   12.0    8.0    9.0             0.0
5                NaN  NaN   15.0   23.0   30.0   26.0   20.0             0.0
..               ...  ...    ...    ...    ...    ...    ...             ...
124              0.0  NaN    1.0    2.0    3.0    5.0    4.0            20.0
125             19.0  NaN   93.0  145.0  196.0  156.0  124.0            20.0
126              0.0  NaN    2.0    4.0    3.0    2.0    1.0            20.0
127              3.0  NaN    6.0    6.0    7.0    4.0    0.0            20.0
128              4.0  NaN   20.0   24.0   33.0   20.0   15.0              20

0            Options
1              Value
2               Male
3             Female
4         North East
5         North West
..               ...
124            Tesco
125  No / Don't Know
126            Tesla
127             Nike
128         No Group

[128 rows x 25 columns]
-------------------------
1
['Options', 'Value', 'Male', 'Female', 'North East', 'North West', 'Yorkshire & The Humber', 'East Midlands', 'West Midlands', 'East of England', 'London', 'South East', 'South West', 'Wales', 'Scotland', 'Northern Ireland', '18-24', '25-34', '35-44', '45-54', '55-64', 'Vegetarian', 'Vegan', 'Pescatarian', 'Halal', 'Kosher', 'None of the above', 'Always', 'Often', 'Sometimes', 'Rarely', 'Never', 'Very important', 'Fairly important', 'Neither', 'Fairly unimportant', 'Very unimportant', 'Environmentally Friendly', 'Good for the planet', 'Less waste', 'Local', 'Ethical', "Don't Know", 'Longer lasting', 'No natural resource depletion', 'Recyclable', 'Locally Sourced', 'Zero Carbon', 'Reuse or Repurpose', 'No Group', 'The UK government', 'Global corporations e.g the companies that own large well-known brands', 'Global agencies e.g WWF, Greenpeace, friends of the earth etc', 'All adults who live in the UK', 'All of the above', 'Very Much', 'Somewhat', 'Undecided', 'Not Really', 'Not at all', 'Deforestation-free supply chain (minimising the consumption of products associated with deforestation and forest degradation)', 'Donating a proportion of profits to environmental organisations', 'Implementing reduced waste goals', 'Partnering with local producers of materials', 'Planting trees to help protect the environment', 'Reducing greenhouse gas emissions', 'Reducing production of plastic packaging', 'Sourcing renewable / ‘green’ energy for production', 'Using biofuels', 'Using certified ‘sustainable’ materials in production (eg Forest Stewardship Council-certified (FSC)', 'None of the above', 'Deforestation-free supply chain (minimising the consumption of products associated with deforestation and forest degradation)', 'Donating a proportion of profits to environmental organisations', 'Implementing reduced waste goals', 'Partnering with local producers of materials', 'Planting trees to help protect the environment', 'Reducing greenhouse gas emissions', 'Reducing production of plastic packaging', 'Sourcing renewable / ‘green’ energy for production', 'Using biofuels', 'Using certified ‘sustainable’ materials in production (eg Forest Stewardship Council-certified (FSC)', 'None of the above', 'Very influenced', 'Fairly influenced', 'Neither', 'Not very influenced', 'Not at all influenced', 'Yes', 'No', "Don't know", 'Food & Beverage (food items, alcohol, carbonated drinks etc)', 'Health, Beauty & Cosmetics (haircare, skincare, make up, fragrances, toiletries etc.)', 'Household Goods (cleaning items, food wrapping, toilet paper etc.)', 'Fashion & Clothing (sports, casual, speciality, everyday etc)', 'Computers & Consumer Electronics (home appliances, entertainment, gaming etc)', 'Other', 'Use of Chemicals', 'Use of Palm Oil', 'Animal Testing', 'Ethical Concerns', 'Plastic Packaging', 'Renewable Resources', 'Environmental Impact', 'Sustainability', 'Unethical Practices', 'Supporting Genocide', 'Quality', 'Price', 'No Group', 'Strongly Agree', 'Slightly Agree', 'Neither', 'Slightly Disagree', 'Strongly Disagree', 'Amazon', 'Smol', 'Coca Cola', 'Patagonia', 'The Body Shop', 'Apple', 'Lush', 'Lidl', 'Ecover', 'Oceansaver', 'Tesco', "No / Don't Know", 'Tesla', 'Nike', 'No Group']
0   Crime  Cost of Living  Education  Housing  International conflict   \
1     5.06            7.99       4.83     5.34                    4.38
2     5.21            7.66       4.95     5.49                    4.43
3     4.92            8.27       4.72      5.2                    4.33
4     4.76            8.56       4.89     4.93                    3.64
5     4.61            7.86       5.01     5.94                    4.29
..     ...             ...        ...      ...                     ...
124   4.73             7.8       5.07     5.07                    4.27
125   5.04            8.05       4.82      5.3                    4.37
126   6.08            5.92       5.17     4.75                    4.75
127   4.17            7.96       4.87     5.96                    5.83
128   5.51            7.61       4.83     5.63                    4.14

0   Mortgage interest rates  The economy  The environment and climate change   \
1                       4.67         6.61                                4.72
2                       4.74         6.64                                4.73
3                        4.6         6.59                                4.71
4                       4.58         7.18                                4.78
5                       5.16         6.49                                4.57
..                       ...          ...                                 ...
124                     3.67          7.2                                 5.6
125                     4.77         6.57                                4.64
126                     6.17          5.5                                4.67
127                     4.74         5.91                                5.13
128                     4.68         6.61                                4.47

0   The NHS  Unemployment  Question_Number          Options
1       6.67          4.74             0.0            Value
2       6.28          4.85             0.0             Male
3       7.02          4.64             0.0           Female
4       6.53          5.16             0.0       North East
5       6.43          4.65             0.0       North West
..       ...           ...             ...              ...
124      6.8           4.8            20.0            Tesco
125     6.71          4.72            20.0  No / Don't Know
126      7.0           5.0            20.0            Tesla
127     5.48          4.96            20.0             Nike
128     6.45          5.08              20         No Group

[128 rows x 12 columns]
-------------------------
2
['Options', 'Value', 'Male', 'Female', 'North East', 'North West', 'Yorkshire & The Humber', 'East Midlands', 'West Midlands', 'East of England', 'London', 'South East', 'South West', 'Wales', 'Scotland', 'Northern Ireland', '18-24', '25-34', '35-44', '45-54', '55-64', 'Vegetarian', 'Vegan', 'Pescatarian', 'Halal', 'Kosher', 'None of the above', 'Always', 'Often', 'Sometimes', 'Rarely', 'Never', 'Very important', 'Fairly important', 'Neither', 'Fairly unimportant', 'Very unimportant', 'Environmentally Friendly', 'Good for the planet', 'Less waste', 'Local', 'Ethical', "Don't Know", 'Longer lasting', 'No natural resource depletion', 'Recyclable', 'Locally Sourced', 'Zero Carbon', 'Reuse or Repurpose', 'No Group', 'The UK government', 'Global corporations e.g the companies that own large well-known brands', 'Global agencies e.g WWF, Greenpeace, friends of the earth etc', 'All adults who live in the UK', 'All of the above', 'Very Much', 'Somewhat', 'Undecided', 'Not Really', 'Not at all', 'Deforestation-free supply chain (minimising the consumption of products associated with deforestation and forest degradation)', 'Donating a proportion of profits to environmental organisations', 'Implementing reduced waste goals', 'Partnering with local producers of materials', 'Planting trees to help protect the environment', 'Reducing greenhouse gas emissions', 'Reducing production of plastic packaging', 'Sourcing renewable / ‘green’ energy for production', 'Using biofuels', 'Using certified ‘sustainable’ materials in production (eg Forest Stewardship Council-certified (FSC)', 'None of the above', 'Deforestation-free supply chain (minimising the consumption of products associated with deforestation and forest degradation)', 'Donating a proportion of profits to environmental organisations', 'Implementing reduced waste goals', 'Partnering with local producers of materials', 'Planting trees to help protect the environment', 'Reducing greenhouse gas emissions', 'Reducing production of plastic packaging', 'Sourcing renewable / ‘green’ energy for production', 'Using biofuels', 'Using certified ‘sustainable’ materials in production (eg Forest Stewardship Council-certified (FSC)', 'None of the above', 'Very influenced', 'Fairly influenced', 'Neither', 'Not very influenced', 'Not at all influenced', 'Yes', 'No', "Don't know", 'Food & Beverage (food items, alcohol, carbonated drinks etc)', 'Health, Beauty & Cosmetics (haircare, skincare, make up, fragrances, toiletries etc.)', 'Household Goods (cleaning items, food wrapping, toilet paper etc.)', 'Fashion & Clothing (sports, casual, speciality, everyday etc)', 'Computers & Consumer Electronics (home appliances, entertainment, gaming etc)', 'Other', 'Use of Chemicals', 'Use of Palm Oil', 'Animal Testing', 'Ethical Concerns', 'Plastic Packaging', 'Renewable Resources', 'Environmental Impact', 'Sustainability', 'Unethical Practices', 'Supporting Genocide', 'Quality', 'Price', 'No Group', 'Strongly Agree', 'Slightly Agree', 'Neither', 'Slightly Disagree', 'Strongly Disagree', 'Amazon', 'Smol', 'Coca Cola', 'Patagonia', 'The Body Shop', 'Apple', 'Lush', 'Lidl', 'Ecover', 'Oceansaver', 'Tesco', "No / Don't Know", 'Tesla', 'Nike', 'No Group']
0   Vegetarian  Vegan  Pescatarian  Halal  Kosher  None of the above   \
1          90.0   44.0         61.0   87.0    11.0              715.0
2          41.0   18.0         29.0   47.0     6.0              335.0
3          49.0   26.0         32.0   40.0     5.0              380.0
4           6.0    1.0          5.0    0.0     0.0               33.0
5           8.0    4.0          8.0   11.0     0.0               83.0
..          ...    ...          ...    ...     ...                ...
124         0.0    1.0          1.0    0.0     0.0               13.0
125        58.0   30.0         42.0   50.0     6.0              528.0
126         0.0    1.0          0.0    4.0     1.0                6.0
127         1.0    0.0          3.0    6.0     0.0               13.0
128          13      5            9     16       2                 67

0   Question_Number          Options
1               0.0            Value
2               0.0             Male
3               0.0           Female
4               0.0       North East
5               0.0       North West
..              ...              ...
124            20.0            Tesco
125            20.0  No / Don't Know
126            20.0            Tesla
127            20.0             Nike
128              20         No Group

[128 rows x 8 columns]
-------------------------
3
['Options', 'Value', 'Male', 'Female', 'North East', 'North West', 'Yorkshire & The Humber', 'East Midlands', 'West Midlands', 'East of England', 'London', 'South East', 'South West', 'Wales', 'Scotland', 'Northern Ireland', '18-24', '25-34', '35-44', '45-54', '55-64', 'Vegetarian', 'Vegan', 'Pescatarian', 'Halal', 'Kosher', 'None of the above', 'Always', 'Often', 'Sometimes', 'Rarely', 'Never', 'Very important', 'Fairly important', 'Neither', 'Fairly unimportant', 'Very unimportant', 'Environmentally Friendly', 'Good for the planet', 'Less waste', 'Local', 'Ethical', "Don't Know", 'Longer lasting', 'No natural resource depletion', 'Recyclable', 'Locally Sourced', 'Zero Carbon', 'Reuse or Repurpose', 'No Group', 'The UK government', 'Global corporations e.g the companies that own large well-known brands', 'Global agencies e.g WWF, Greenpeace, friends of the earth etc', 'All adults who live in the UK', 'All of the above', 'Very Much', 'Somewhat', 'Undecided', 'Not Really', 'Not at all', 'Deforestation-free supply chain (minimising the consumption of products associated with deforestation and forest degradation)', 'Donating a proportion of profits to environmental organisations', 'Implementing reduced waste goals', 'Partnering with local producers of materials', 'Planting trees to help protect the environment', 'Reducing greenhouse gas emissions', 'Reducing production of plastic packaging', 'Sourcing renewable / ‘green’ energy for production', 'Using biofuels', 'Using certified ‘sustainable’ materials in production (eg Forest Stewardship Council-certified (FSC)', 'None of the above', 'Deforestation-free supply chain (minimising the consumption of products associated with deforestation and forest degradation)', 'Donating a proportion of profits to environmental organisations', 'Implementing reduced waste goals', 'Partnering with local producers of materials', 'Planting trees to help protect the environment', 'Reducing greenhouse gas emissions', 'Reducing production of plastic packaging', 'Sourcing renewable / ‘green’ energy for production', 'Using biofuels', 'Using certified ‘sustainable’ materials in production (eg Forest Stewardship Council-certified (FSC)', 'None of the above', 'Very influenced', 'Fairly influenced', 'Neither', 'Not very influenced', 'Not at all influenced', 'Yes', 'No', "Don't know", 'Food & Beverage (food items, alcohol, carbonated drinks etc)', 'Health, Beauty & Cosmetics (haircare, skincare, make up, fragrances, toiletries etc.)', 'Household Goods (cleaning items, food wrapping, toilet paper etc.)', 'Fashion & Clothing (sports, casual, speciality, everyday etc)', 'Computers & Consumer Electronics (home appliances, entertainment, gaming etc)', 'Other', 'Use of Chemicals', 'Use of Palm Oil', 'Animal Testing', 'Ethical Concerns', 'Plastic Packaging', 'Renewable Resources', 'Environmental Impact', 'Sustainability', 'Unethical Practices', 'Supporting Genocide', 'Quality', 'Price', 'No Group', 'Strongly Agree', 'Slightly Agree', 'Neither', 'Slightly Disagree', 'Strongly Disagree', 'Amazon', 'Smol', 'Coca Cola', 'Patagonia', 'The Body Shop', 'Apple', 'Lush', 'Lidl', 'Ecover', 'Oceansaver', 'Tesco', "No / Don't Know", 'Tesla', 'Nike', 'No Group']
0   Always  Often  Sometimes  Rarely  Never Question_Number          Options
1     168.0  366.0      379.0    65.0  30.0             0.0            Value
2      90.0  161.0      179.0    34.0  13.0             0.0             Male
3      78.0  205.0      200.0    31.0  17.0             0.0           Female

C:\Users\tanma\AppData\Local\Temp\ipykernel_20980\48040473.py:15: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  x = str(row[0])
C:\Users\tanma\AppData\Local\Temp\ipykernel_20980\48040473.py:15: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  x = str(row[0])
C:\Users\tanma\AppData\Local\Temp\ipykernel_20980\48040473.py:15: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  x = str(row[0])
C:\Users\tanma\AppData\Local\Temp\ipykernel_20980\48040473.py:15: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  x = str(row[0])

8
['Options', 'Value', 'Male', 'Female', 'North East', 'North West', 'Yorkshire & The Humber', 'East Midlands', 'West Midlands', 'East of England', 'London', 'South East', 'South West', 'Wales', 'Scotland', 'Northern Ireland', '18-24', '25-34', '35-44', '45-54', '55-64', 'Vegetarian', 'Vegan', 'Pescatarian', 'Halal', 'Kosher', 'None of the above', 'Always', 'Often', 'Sometimes', 'Rarely', 'Never', 'Very important', 'Fairly important', 'Neither', 'Fairly unimportant', 'Very unimportant', 'Environmentally Friendly', 'Good for the planet', 'Less waste', 'Local', 'Ethical', "Don't Know", 'Longer lasting', 'No natural resource depletion', 'Recyclable', 'Locally Sourced', 'Zero Carbon', 'Reuse or Repurpose', 'No Group', 'The UK government', 'Global corporations e.g the companies that own large well-known brands', 'Global agencies e.g WWF, Greenpeace, friends of the earth etc', 'All adults who live in the UK', 'All of the above', 'Very Much', 'Somewhat', 'Undecided', 'Not Really', 'Not at all', 'Deforestation-free supply chain (minimising the consumption of products associated with deforestation and forest degradation)', 'Donating a proportion of profits to environmental organisations', 'Implementing reduced waste goals', 'Partnering with local producers of materials', 'Planting trees to help protect the environment', 'Reducing greenhouse gas emissions', 'Reducing production of plastic packaging', 'Sourcing renewable / ‘green’ energy for production', 'Using biofuels', 'Using certified ‘sustainable’ materials in production (eg Forest Stewardship Council-certified (FSC)', 'None of the above', 'Deforestation-free supply chain (minimising the consumption of products associated with deforestation and forest degradation)', 'Donating a proportion of profits to environmental organisations', 'Implementing reduced waste goals', 'Partnering with local producers of materials', 'Planting trees to help protect the environment', 'Reducing greenhouse gas emissions', 'Reducing production of plastic packaging', 'Sourcing renewable / ‘green’ energy for production', 'Using biofuels', 'Using certified ‘sustainable’ materials in production (eg Forest Stewardship Council-certified (FSC)', 'None of the above', 'Very influenced', 'Fairly influenced', 'Neither', 'Not very influenced', 'Not at all influenced', 'Yes', 'No', "Don't know", 'Food & Beverage (food items, alcohol, carbonated drinks etc)', 'Health, Beauty & Cosmetics (haircare, skincare, make up, fragrances, toiletries etc.)', 'Household Goods (cleaning items, food wrapping, toilet paper etc.)', 'Fashion & Clothing (sports, casual, speciality, everyday etc)', 'Computers & Consumer Electronics (home appliances, entertainment, gaming etc)', 'Other', 'Use of Chemicals', 'Use of Palm Oil', 'Animal Testing', 'Ethical Concerns', 'Plastic Packaging', 'Renewable Resources', 'Environmental Impact', 'Sustainability', 'Unethical Practices', 'Supporting Genocide', 'Quality', 'Price', 'No Group', 'Strongly Agree', 'Slightly Agree', 'Neither', 'Slightly Disagree', 'Strongly Disagree', 'Amazon', 'Smol', 'Coca Cola', 'Patagonia', 'The Body Shop', 'Apple', 'Lush', 'Lidl', 'Ecover', 'Oceansaver', 'Tesco', "No / Don't Know", 'Tesla', 'Nike', 'No Group']
0   The UK government   \
1                429.0
2                232.0
3                197.0
4                 18.0
5                 41.0
..                 ...
124                5.0
125              302.0
126                7.0
127               14.0
128                 52

0   Global corporations e.g the companies that own large well-known brands  \
1                                                174.0
2                                                 81.0
3                                                 93.0
4                                                  5.0
5                                                 20.0
..                                                 ...
124                                                4.0
125                                              121.0
126                                                2.0
127                                                3.0
128                                                 15

0   Global agencies e.g WWF, Greenpeace, friends of the earth etc  \
1                                                 30.0
2                                                 13.0
3                                                 17.0
4                                                  4.0
5                                                  6.0
..                                                 ...
124                                                0.0
125                                               21.0
126                                                0.0
127                                                1.0
128                                                  7

0   All adults who live in the UK All of the above Question_Number  \
1                           154.0            221.0             0.0
2                            74.0             77.0             0.0
3                            80.0            144.0             0.0
4                             6.0             11.0             0.0
5                            18.0             29.0             0.0
..                            ...              ...             ...
124                           3.0              3.0            20.0
125                         103.0            166.0            20.0
126                           2.0              1.0            20.0
127                           2.0              3.0            20.0
128                            14               24              20

0            Options
1              Value
2               Male
3             Female
4         North East
5         North West
..               ...
124            Tesco
125  No / Don't Know
126            Tesla
127             Nike
128         No Group

[128 rows x 7 columns]
-------------------------
9
['Options', 'Value', 'Male', 'Female', 'North East', 'North West', 'Yorkshire & The Humber', 'East Midlands', 'West Midlands', 'East of England', 'London', 'South East', 'South West', 'Wales', 'Scotland', 'Northern Ireland', '18-24', '25-34', '35-44', '45-54', '55-64', 'Vegetarian', 'Vegan', 'Pescatarian', 'Halal', 'Kosher', 'None of the above', 'Always', 'Often', 'Sometimes', 'Rarely', 'Never', 'Very important', 'Fairly important', 'Neither', 'Fairly unimportant', 'Very unimportant', 'Environmentally Friendly', 'Good for the planet', 'Less waste', 'Local', 'Ethical', "Don't Know", 'Longer lasting', 'No natural resource depletion', 'Recyclable', 'Locally Sourced', 'Zero Carbon', 'Reuse or Repurpose', 'No Group', 'The UK government', 'Global corporations e.g the companies that own large well-known brands', 'Global agencies e.g WWF, Greenpeace, friends of the earth etc', 'All adults who live in the UK', 'All of the above', 'Very Much', 'Somewhat', 'Undecided', 'Not Really', 'Not at all', 'Deforestation-free supply chain (minimising the consumption of products associated with deforestation and forest degradation)', 'Donating a proportion of profits to environmental organisations', 'Implementing reduced waste goals', 'Partnering with local producers of materials', 'Planting trees to help protect the environment', 'Reducing greenhouse gas emissions', 'Reducing production of plastic packaging', 'Sourcing renewable / ‘green’ energy for production', 'Using biofuels', 'Using certified ‘sustainable’ materials in production (eg Forest Stewardship Council-certified (FSC)', 'None of the above', 'Deforestation-free supply chain (minimising the consumption of products associated with deforestation and forest degradation)', 'Donating a proportion of profits to environmental organisations', 'Implementing reduced waste goals', 'Partnering with local producers of materials', 'Planting trees to help protect the environment', 'Reducing greenhouse gas emissions', 'Reducing production of plastic packaging', 'Sourcing renewable / ‘green’ energy for production', 'Using biofuels', 'Using certified ‘sustainable’ materials in production (eg Forest Stewardship Council-certified (FSC)', 'None of the above', 'Very influenced', 'Fairly influenced', 'Neither', 'Not very influenced', 'Not at all influenced', 'Yes', 'No', "Don't know", 'Food & Beverage (food items, alcohol, carbonated drinks etc)', 'Health, Beauty & Cosmetics (haircare, skincare, make up, fragrances, toiletries etc.)', 'Household Goods (cleaning items, food wrapping, toilet paper etc.)', 'Fashion & Clothing (sports, casual, speciality, everyday etc)', 'Computers & Consumer Electronics (home appliances, entertainment, gaming etc)', 'Other', 'Use of Chemicals', 'Use of Palm Oil', 'Animal Testing', 'Ethical Concerns', 'Plastic Packaging', 'Renewable Resources', 'Environmental Impact', 'Sustainability', 'Unethical Practices', 'Supporting Genocide', 'Quality', 'Price', 'No Group', 'Strongly Agree', 'Slightly Agree', 'Neither', 'Slightly Disagree', 'Strongly Disagree', 'Amazon', 'Smol', 'Coca Cola', 'Patagonia', 'The Body Shop', 'Apple', 'Lush', 'Lidl', 'Ecover', 'Oceansaver', 'Tesco', "No / Don't Know", 'Tesla', 'Nike', 'No Group']
0   Very Much  Somewhat Undecided  Not Really  Not at all Question_Number  \
1        105.0    468.0      251.0       127.0       57.0             0.0
2         57.0    216.0      100.0        64.0       40.0             0.0
3         48.0    252.0      151.0        63.0       17.0             0.0
4          6.0     20.0       10.0         5.0        4.0             0.0
5         11.0     52.0       34.0        14.0        3.0             0.0
..         ...      ...        ...         ...        ...             ...
124        2.0     10.0        1.0         2.0        0.0            20.0
125       71.0    310.0      190.0        98.0       44.0            20.0
126        0.0      6.0        2.0         2.0        2.0            20.0
127        5.0      9.0        8.0         1.0        0.0            20.0
128         15       60         23          10          4              20

0            Options
1              Value
2               Male
3             Female
4         North East
5         North West
..               ...
124            Tesco
125  No / Don't Know
126            Tesla
127             Nike
128         No Group

[128 rows x 7 columns]
-------------------------
10
['Options', 'Value', 'Male', 'Female', 'North East', 'North West', 'Yorkshire & The Humber', 'East Midlands', 'West Midlands', 'East of England', 'London', 'South East', 'South West', 'Wales', 'Scotland', 'Northern Ireland', '18-24', '25-34', '35-44', '45-54', '55-64', 'Vegetarian', 'Vegan', 'Pescatarian', 'Halal', 'Kosher', 'None of the above', 'Always', 'Often', 'Sometimes', 'Rarely', 'Never', 'Very important', 'Fairly important', 'Neither', 'Fairly unimportant', 'Very unimportant', 'Environmentally Friendly', 'Good for the planet', 'Less waste', 'Local', 'Ethical', "Don't Know", 'Longer lasting', 'No natural resource depletion', 'Recyclable', 'Locally Sourced', 'Zero Carbon', 'Reuse or Repurpose', 'No Group', 'The UK government', 'Global corporations e.g the companies that own large well-known brands', 'Global agencies e.g WWF, Greenpeace, friends of the earth etc', 'All adults who live in the UK', 'All of the above', 'Very Much', 'Somewhat', 'Undecided', 'Not Really', 'Not at all', 'Deforestation-free supply chain (minimising the consumption of products associated with deforestation and forest degradation)', 'Donating a proportion of profits to environmental organisations', 'Implementing reduced waste goals', 'Partnering with local producers of materials', 'Planting trees to help protect the environment', 'Reducing greenhouse gas emissions', 'Reducing production of plastic packaging', 'Sourcing renewable / ‘green’ energy for production', 'Using biofuels', 'Using certified ‘sustainable’ materials in production (eg Forest Stewardship Council-certified (FSC)', 'None of the above', 'Deforestation-free supply chain (minimising the consumption of products associated with deforestation and forest degradation)', 'Donating a proportion of profits to environmental organisations', 'Implementing reduced waste goals', 'Partnering with local producers of materials', 'Planting trees to help protect the environment', 'Reducing greenhouse gas emissions', 'Reducing production of plastic packaging', 'Sourcing renewable / ‘green’ energy for production', 'Using biofuels', 'Using certified ‘sustainable’ materials in production (eg Forest Stewardship Council-certified (FSC)', 'None of the above', 'Very influenced', 'Fairly influenced', 'Neither', 'Not very influenced', 'Not at all influenced', 'Yes', 'No', "Don't know", 'Food & Beverage (food items, alcohol, carbonated drinks etc)', 'Health, Beauty & Cosmetics (haircare, skincare, make up, fragrances, toiletries etc.)', 'Household Goods (cleaning items, food wrapping, toilet paper etc.)', 'Fashion & Clothing (sports, casual, speciality, everyday etc)', 'Computers & Consumer Electronics (home appliances, entertainment, gaming etc)', 'Other', 'Use of Chemicals', 'Use of Palm Oil', 'Animal Testing', 'Ethical Concerns', 'Plastic Packaging', 'Renewable Resources', 'Environmental Impact', 'Sustainability', 'Unethical Practices', 'Supporting Genocide', 'Quality', 'Price', 'No Group', 'Strongly Agree', 'Slightly Agree', 'Neither', 'Slightly Disagree', 'Strongly Disagree', 'Amazon', 'Smol', 'Coca Cola', 'Patagonia', 'The Body Shop', 'Apple', 'Lush', 'Lidl', 'Ecover', 'Oceansaver', 'Tesco', "No / Don't Know", 'Tesla', 'Nike', 'No Group']
0   Deforestation-free supply chain (minimising the consumption of products associated with deforestation and forest degradation)  \
1                                                423.0
2                                                199.0
3                                                224.0
4                                                 18.0
5                                                 51.0
..                                                 ...
124                                                9.0
125                                              289.0
126                                                4.0
127                                                7.0
128                                                 52

0   Donating a proportion of profits to environmental organisations  \
1                                                311.0
2                                                140.0
3                                                171.0
4                                                 14.0
5                                                 29.0
..                                                 ...
124                                                6.0
125                                              200.0
126                                                3.0
127                                                8.0
128                                                 45

0   Implementing reduced waste goals  \
1                              426.0
2                              185.0
3                              241.0
4                               16.0
5                               53.0
..                               ...
124                              7.0
125                            298.0
126                              5.0
127                              4.0
128                               48

0   Partnering with local producers of materials  \
1                                          282.0
2                                          126.0
3                                          156.0
4                                           12.0
5                                           27.0
..                                           ...
124                                          4.0
125                                        189.0
126                                          2.0
127                                          4.0
128                                           36

0   Planting trees to help protect the environment  \
1                                            431.0
2                                            192.0
3                                            239.0
4                                             18.0
5                                             55.0
..                                             ...
124                                            8.0
125                                          299.0
126                                            3.0
127                                           11.0
128                                             55

0   Reducing greenhouse gas emissions  \
1                               352.0
2                               164.0
3                               188.0
4                                17.0
5                                38.0
..                                ...
124                               7.0
125                             229.0
126                               3.0
127                               7.0
128                                44

0   Reducing production of plastic packaging  \
1                                      434.0
2                                      177.0
3                                      257.0
4                                       17.0
5                                       47.0
..                                       ...
124                                      7.0
125                                    303.0
126                                      2.0
127                                      6.0
128                                       51

0   Sourcing renewable / green energy for production Using biofuels  \
1                                              306.0          179.0
2                                              146.0           92.0
3                                              160.0           87.0
4                                               14.0           10.0
5                                               32.0           19.0
..                                               ...            ...
124                                              7.0            5.0
125                                            201.0          118.0
126                                              3.0            2.0
127                                              8.0            5.0
128                                               42             26

0   Using certified sustainable materials in production (eg Forest Stewardship Council-certified (FSC)  \
1                                                272.0
2                                                128.0
3                                                144.0
4                                                  7.0
5                                                 37.0
..                                                 ...
124                                                6.0
125                                              187.0
126                                                5.0
127                                                4.0
128                                                 34

0   None of the above Question_Number          Options
1                79.0             0.0            Value
2                41.0             0.0             Male
3                38.0             0.0           Female
4                 3.0             0.0       North East
5                 6.0             0.0       North West
..                ...             ...              ...
124               0.0            20.0            Tesco
125              66.0            20.0  No / Don't Know
126               2.0            20.0            Tesla
127               0.0            20.0             Nike
128                 4              20         No Group

[128 rows x 13 columns]
-------------------------
11

C:\Users\tanma\AppData\Local\Temp\ipykernel_20980\48040473.py:15: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  x = str(row[0])
C:\Users\tanma\AppData\Local\Temp\ipykernel_20980\48040473.py:15: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  x = str(row[0])
C:\Users\tanma\AppData\Local\Temp\ipykernel_20980\48040473.py:15: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  x = str(row[0])
C:\Users\tanma\AppData\Local\Temp\ipykernel_20980\48040473.py:15: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  x = str(row[0])

12
['Options', 'Value', 'Male', 'Female', 'North East', 'North West', 'Yorkshire & The Humber', 'East Midlands', 'West Midlands', 'East of England', 'London', 'South East', 'South West', 'Wales', 'Scotland', 'Northern Ireland', '18-24', '25-34', '35-44', '45-54', '55-64', 'Vegetarian', 'Vegan', 'Pescatarian', 'Halal', 'Kosher', 'None of the above', 'Always', 'Often', 'Sometimes', 'Rarely', 'Never', 'Very important', 'Fairly important', 'Neither', 'Fairly unimportant', 'Very unimportant', 'Environmentally Friendly', 'Good for the planet', 'Less waste', 'Local', 'Ethical', "Don't Know", 'Longer lasting', 'No natural resource depletion', 'Recyclable', 'Locally Sourced', 'Zero Carbon', 'Reuse or Repurpose', 'No Group', 'The UK government', 'Global corporations e.g the companies that own large well-known brands', 'Global agencies e.g WWF, Greenpeace, friends of the earth etc', 'All adults who live in the UK', 'All of the above', 'Very Much', 'Somewhat', 'Undecided', 'Not Really', 'Not at all', 'Deforestation-free supply chain (minimising the consumption of products associated with deforestation and forest degradation)', 'Donating a proportion of profits to environmental organisations', 'Implementing reduced waste goals', 'Partnering with local producers of materials', 'Planting trees to help protect the environment', 'Reducing greenhouse gas emissions', 'Reducing production of plastic packaging', 'Sourcing renewable / ‘green’ energy for production', 'Using biofuels', 'Using certified ‘sustainable’ materials in production (eg Forest Stewardship Council-certified (FSC)', 'None of the above', 'Deforestation-free supply chain (minimising the consumption of products associated with deforestation and forest degradation)', 'Donating a proportion of profits to environmental organisations', 'Implementing reduced waste goals', 'Partnering with local producers of materials', 'Planting trees to help protect the environment', 'Reducing greenhouse gas emissions', 'Reducing production of plastic packaging', 'Sourcing renewable / ‘green’ energy for production', 'Using biofuels', 'Using certified ‘sustainable’ materials in production (eg Forest Stewardship Council-certified (FSC)', 'None of the above', 'Very influenced', 'Fairly influenced', 'Neither', 'Not very influenced', 'Not at all influenced', 'Yes', 'No', "Don't know", 'Food & Beverage (food items, alcohol, carbonated drinks etc)', 'Health, Beauty & Cosmetics (haircare, skincare, make up, fragrances, toiletries etc.)', 'Household Goods (cleaning items, food wrapping, toilet paper etc.)', 'Fashion & Clothing (sports, casual, speciality, everyday etc)', 'Computers & Consumer Electronics (home appliances, entertainment, gaming etc)', 'Other', 'Use of Chemicals', 'Use of Palm Oil', 'Animal Testing', 'Ethical Concerns', 'Plastic Packaging', 'Renewable Resources', 'Environmental Impact', 'Sustainability', 'Unethical Practices', 'Supporting Genocide', 'Quality', 'Price', 'No Group', 'Strongly Agree', 'Slightly Agree', 'Neither', 'Slightly Disagree', 'Strongly Disagree', 'Amazon', 'Smol', 'Coca Cola', 'Patagonia', 'The Body Shop', 'Apple', 'Lush', 'Lidl', 'Ecover', 'Oceansaver', 'Tesco', "No / Don't Know", 'Tesla', 'Nike', 'No Group']
0   Very influenced  Fairly influenced  Neither  Not very influenced  \
1              159.0              449.0    248.0                91.0
2               77.0              204.0    106.0                54.0
3               82.0              245.0    142.0                37.0
4                6.0               19.0     13.0                 6.0
5               17.0               50.0     29.0                14.0
..               ...                ...      ...                 ...
124              2.0                9.0      4.0                 0.0
125            101.0              293.0    189.0                76.0
126              1.0                7.0      0.0                 2.0
127              6.0               13.0      2.0                 2.0
128               24                 55       24                   8

0   Not at all influenced  Question_Number          Options
1                     61.0             0.0            Value
2                     35.0             0.0             Male
3                     26.0             0.0           Female
4                      1.0             0.0       North East
5                      4.0             0.0       North West
..                     ...             ...              ...
124                    0.0            20.0            Tesco
125                   54.0            20.0  No / Don't Know
126                    2.0            20.0            Tesla
127                    0.0            20.0             Nike
128                      1              20         No Group

[128 rows x 7 columns]
-------------------------
13
['Options', 'Value', 'Male', 'Female', 'North East', 'North West', 'Yorkshire & The Humber', 'East Midlands', 'West Midlands', 'East of England', 'London', 'South East', 'South West', 'Wales', 'Scotland', 'Northern Ireland', '18-24', '25-34', '35-44', '45-54', '55-64', 'Vegetarian', 'Vegan', 'Pescatarian', 'Halal', 'Kosher', 'None of the above', 'Always', 'Often', 'Sometimes', 'Rarely', 'Never', 'Very important', 'Fairly important', 'Neither', 'Fairly unimportant', 'Very unimportant', 'Environmentally Friendly', 'Good for the planet', 'Less waste', 'Local', 'Ethical', "Don't Know", 'Longer lasting', 'No natural resource depletion', 'Recyclable', 'Locally Sourced', 'Zero Carbon', 'Reuse or Repurpose', 'No Group', 'The UK government', 'Global corporations e.g the companies that own large well-known brands', 'Global agencies e.g WWF, Greenpeace, friends of the earth etc', 'All adults who live in the UK', 'All of the above', 'Very Much', 'Somewhat', 'Undecided', 'Not Really', 'Not at all', 'Deforestation-free supply chain (minimising the consumption of products associated with deforestation and forest degradation)', 'Donating a proportion of profits to environmental organisations', 'Implementing reduced waste goals', 'Partnering with local producers of materials', 'Planting trees to help protect the environment', 'Reducing greenhouse gas emissions', 'Reducing production of plastic packaging', 'Sourcing renewable / ‘green’ energy for production', 'Using biofuels', 'Using certified ‘sustainable’ materials in production (eg Forest Stewardship Council-certified (FSC)', 'None of the above', 'Deforestation-free supply chain (minimising the consumption of products associated with deforestation and forest degradation)', 'Donating a proportion of profits to environmental organisations', 'Implementing reduced waste goals', 'Partnering with local producers of materials', 'Planting trees to help protect the environment', 'Reducing greenhouse gas emissions', 'Reducing production of plastic packaging', 'Sourcing renewable / ‘green’ energy for production', 'Using biofuels', 'Using certified ‘sustainable’ materials in production (eg Forest Stewardship Council-certified (FSC)', 'None of the above', 'Very influenced', 'Fairly influenced', 'Neither', 'Not very influenced', 'Not at all influenced', 'Yes', 'No', "Don't know", 'Food & Beverage (food items, alcohol, carbonated drinks etc)', 'Health, Beauty & Cosmetics (haircare, skincare, make up, fragrances, toiletries etc.)', 'Household Goods (cleaning items, food wrapping, toilet paper etc.)', 'Fashion & Clothing (sports, casual, speciality, everyday etc)', 'Computers & Consumer Electronics (home appliances, entertainment, gaming etc)', 'Other', 'Use of Chemicals', 'Use of Palm Oil', 'Animal Testing', 'Ethical Concerns', 'Plastic Packaging', 'Renewable Resources', 'Environmental Impact', 'Sustainability', 'Unethical Practices', 'Supporting Genocide', 'Quality', 'Price', 'No Group', 'Strongly Agree', 'Slightly Agree', 'Neither', 'Slightly Disagree', 'Strongly Disagree', 'Amazon', 'Smol', 'Coca Cola', 'Patagonia', 'The Body Shop', 'Apple', 'Lush', 'Lidl', 'Ecover', 'Oceansaver', 'Tesco', "No / Don't Know", 'Tesla', 'Nike', 'No Group']
0   Food & Beverage (food items, alcohol, carbonated drinks etc) - Excellent   \
1                                                138.0
2                                                 64.0
3                                                 74.0
4                                                  7.0
5                                                 16.0
..                                                 ...
124                                                2.0
125                                               87.0
126                                                2.0
127                                                6.0
128                                                 26

0   Food & Beverage (food items, alcohol, carbonated drinks etc) - Good   \
1                                                325.0
2                                                174.0
3                                                151.0
4                                                 15.0
5                                                 42.0
..                                                 ...
124                                                8.0
125                                              222.0
126                                                3.0
127                                               10.0
128                                                 33

0   Food & Beverage (food items, alcohol, carbonated drinks etc) - Fair   \
1                                                398.0
2                                                178.0
3                                                220.0
4                                                 17.0
5                                                 38.0
..                                                 ...
124                                                5.0
125                                              295.0
126                                                7.0
127                                                5.0
128                                                 34

0   Food & Beverage (food items, alcohol, carbonated drinks etc) - Poor   \
1                                                126.0
2                                                 48.0
3                                                 78.0
4                                                  4.0
5                                                 15.0
..                                                 ...
124                                                0.0
125                                               95.0
126                                                0.0
127                                                1.0
128                                                 14

0   Food & Beverage (food items, alcohol, carbonated drinks etc) - Very Poor   \
1                                                 22.0
2                                                 13.0
3                                                  9.0
4                                                  2.0
5                                                  3.0
..                                                 ...
124                                                0.0
125                                               15.0
126                                                0.0
127                                                1.0
128                                                  5

0   Health, Beauty & Cosmetics (haircare, skincare, make up, fragrances, toiletries etc.)  - Excellent   \
1                                                107.0
2                                                 51.0
3                                                 56.0
4                                                  5.0
5                                                 11.0
..                                                 ...
124                                                1.0
125                                               73.0
126                                                0.0
127                                                6.0
128                                                 13

0   Health, Beauty & Cosmetics (haircare, skincare, make up, fragrances, toiletries etc.)  - Good   \
1                                                275.0
2                                                120.0
3                                                155.0
4                                                 12.0
5                                                 40.0
..                                                 ...
124                                                7.0
125                                              171.0
126                                                3.0
127                                               12.0
128                                                 37

0   Health, Beauty & Cosmetics (haircare, skincare, make up, fragrances, toiletries etc.)  - Fair   \
1                                                365.0
2                                                163.0
3                                                202.0
4                                                 19.0
5                                                 35.0
..                                                 ...
124                                                3.0
125                                              269.0
126                                                6.0
127                                                2.0
128                                                 40

0   Health, Beauty & Cosmetics (haircare, skincare, make up, fragrances, toiletries etc.)  - Poor   \
1                                                219.0
2                                                114.0
3                                                105.0
4                                                  5.0
5                                                 23.0
..                                                 ...
124                                                3.0
125                                              166.0
126                                                3.0
127                                                3.0
128                                                 20

0   Health, Beauty & Cosmetics (haircare, skincare, make up, fragrances, toiletries etc.)  - Very Poor   \
1                                                 43.0
2                                                 29.0
3                                                 14.0
4                                                  4.0
5                                                  5.0
..                                                 ...
124                                                1.0
125                                               35.0
126                                                0.0
127                                                0.0
128                                                  2

0    ...  \
1    ...
2    ...
3    ...
4    ...
5    ...
..   ...
124  ...
125  ...
126  ...
127  ...
128  ...

0   Fashion & Clothing (sports, casual, speciality, everyday etc) - Fair   \
1                                                356.0
2                                                166.0
3                                                190.0
4                                                 19.0
5                                                 39.0
..                                                 ...
124                                                6.0
125                                              259.0
126                                                4.0
127                                                6.0
128                                                 29

0   Fashion & Clothing (sports, casual, speciality, everyday etc) - Poor   \
1                                                206.0
2                                                 88.0
3                                                118.0
4                                                  5.0
5                                                 21.0
..                                                 ...
124                                                4.0
125                                              155.0
126                                                3.0
127                                                4.0
128                                                 19

0   Fashion & Clothing (sports, casual, speciality, everyday etc) - Very Poor   \
1                                                 74.0
2                                                 40.0
3                                                 34.0
4                                                  4.0
5                                                 11.0
..                                                 ...
124                                                0.0
125                                               50.0
126                                                1.0
127                                                0.0
128                                                  7

0   Computers & Consumer Electronics (home appliances, entertainment, gaming etc) - Excellent   \
1                                                122.0
2                                                 66.0
3                                                 56.0
4                                                  6.0
5                                                 12.0
..                                                 ...
124                                                1.0
125                                               77.0
126                                                4.0
127                                                6.0
128                                                 23

0   Computers & Consumer Electronics (home appliances, entertainment, gaming etc) - Good   \
1                                                229.0
2                                                126.0
3                                                103.0
4                                                 12.0
5                                                 32.0
..                                                 ...
124                                                4.0
125                                              151.0
126                                                2.0
127                                                7.0
128                                                 34

0   Computers & Consumer Electronics (home appliances, entertainment, gaming etc) - Fair   \
1                                                351.0
2                                                153.0
3                                                198.0
4                                                 16.0
5                                                 38.0
..                                                 ...
124                                                7.0
125                                              258.0
126                                                4.0
127                                                8.0
128                                                 25

0   Computers & Consumer Electronics (home appliances, entertainment, gaming etc) - Poor   \
1                                                242.0
2                                                104.0
3                                                138.0
4                                                  8.0
5                                                 22.0
..                                                 ...
124                                                3.0
125                                              182.0
126                                                2.0
127                                                2.0
128                                                 23


C:\Users\tanma\AppData\Local\Temp\ipykernel_20980\48040473.py:15: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  x = str(row[0])
C:\Users\tanma\AppData\Local\Temp\ipykernel_20980\48040473.py:15: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  x = str(row[0])
C:\Users\tanma\AppData\Local\Temp\ipykernel_20980\48040473.py:15: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  x = str(row[0])

15
['Options', 'Value', 'Male', 'Female', 'North East', 'North West', 'Yorkshire & The Humber', 'East Midlands', 'West Midlands', 'East of England', 'London', 'South East', 'South West', 'Wales', 'Scotland', 'Northern Ireland', '18-24', '25-34', '35-44', '45-54', '55-64', 'Vegetarian', 'Vegan', 'Pescatarian', 'Halal', 'Kosher', 'None of the above', 'Always', 'Often', 'Sometimes', 'Rarely', 'Never', 'Very important', 'Fairly important', 'Neither', 'Fairly unimportant', 'Very unimportant', 'Environmentally Friendly', 'Good for the planet', 'Less waste', 'Local', 'Ethical', "Don't Know", 'Longer lasting', 'No natural resource depletion', 'Recyclable', 'Locally Sourced', 'Zero Carbon', 'Reuse or Repurpose', 'No Group', 'The UK government', 'Global corporations e.g the companies that own large well-known brands', 'Global agencies e.g WWF, Greenpeace, friends of the earth etc', 'All adults who live in the UK', 'All of the above', 'Very Much', 'Somewhat', 'Undecided', 'Not Really', 'Not at all', 'Deforestation-free supply chain (minimising the consumption of products associated with deforestation and forest degradation)', 'Donating a proportion of profits to environmental organisations', 'Implementing reduced waste goals', 'Partnering with local producers of materials', 'Planting trees to help protect the environment', 'Reducing greenhouse gas emissions', 'Reducing production of plastic packaging', 'Sourcing renewable / ‘green’ energy for production', 'Using biofuels', 'Using certified ‘sustainable’ materials in production (eg Forest Stewardship Council-certified (FSC)', 'None of the above', 'Deforestation-free supply chain (minimising the consumption of products associated with deforestation and forest degradation)', 'Donating a proportion of profits to environmental organisations', 'Implementing reduced waste goals', 'Partnering with local producers of materials', 'Planting trees to help protect the environment', 'Reducing greenhouse gas emissions', 'Reducing production of plastic packaging', 'Sourcing renewable / ‘green’ energy for production', 'Using biofuels', 'Using certified ‘sustainable’ materials in production (eg Forest Stewardship Council-certified (FSC)', 'None of the above', 'Very influenced', 'Fairly influenced', 'Neither', 'Not very influenced', 'Not at all influenced', 'Yes', 'No', "Don't know", 'Food & Beverage (food items, alcohol, carbonated drinks etc)', 'Health, Beauty & Cosmetics (haircare, skincare, make up, fragrances, toiletries etc.)', 'Household Goods (cleaning items, food wrapping, toilet paper etc.)', 'Fashion & Clothing (sports, casual, speciality, everyday etc)', 'Computers & Consumer Electronics (home appliances, entertainment, gaming etc)', 'Other', 'Use of Chemicals', 'Use of Palm Oil', 'Animal Testing', 'Ethical Concerns', 'Plastic Packaging', 'Renewable Resources', 'Environmental Impact', 'Sustainability', 'Unethical Practices', 'Supporting Genocide', 'Quality', 'Price', 'No Group', 'Strongly Agree', 'Slightly Agree', 'Neither', 'Slightly Disagree', 'Strongly Disagree', 'Amazon', 'Smol', 'Coca Cola', 'Patagonia', 'The Body Shop', 'Apple', 'Lush', 'Lidl', 'Ecover', 'Oceansaver', 'Tesco', "No / Don't Know", 'Tesla', 'Nike', 'No Group']
0     Yes     No  Don't know  Question_Number          Options
1    330.0  559.0       119.0             0.0            Value
2    162.0  272.0        43.0             0.0             Male
3    168.0  287.0        76.0             0.0           Female
4     10.0   30.0         5.0             0.0       North East
5     44.0   48.0        22.0             0.0       North West
..     ...    ...         ...             ...              ...
124    6.0    6.0         3.0            20.0            Tesco
125  212.0  417.0        84.0            20.0  No / Don't Know
126    5.0    6.0         1.0            20.0            Tesla
127   10.0   10.0         3.0            20.0             Nike
128     42     60          10              20         No Group

[128 rows x 5 columns]
-------------------------
16
['Options', 'Value', 'Male', 'Female', 'North East', 'North West', 'Yorkshire & The Humber', 'East Midlands', 'West Midlands', 'East of England', 'London', 'South East', 'South West', 'Wales', 'Scotland', 'Northern Ireland', '18-24', '25-34', '35-44', '45-54', '55-64', 'Vegetarian', 'Vegan', 'Pescatarian', 'Halal', 'Kosher', 'None of the above', 'Always', 'Often', 'Sometimes', 'Rarely', 'Never', 'Very important', 'Fairly important', 'Neither', 'Fairly unimportant', 'Very unimportant', 'Environmentally Friendly', 'Good for the planet', 'Less waste', 'Local', 'Ethical', "Don't Know", 'Longer lasting', 'No natural resource depletion', 'Recyclable', 'Locally Sourced', 'Zero Carbon', 'Reuse or Repurpose', 'No Group', 'The UK government', 'Global corporations e.g the companies that own large well-known brands', 'Global agencies e.g WWF, Greenpeace, friends of the earth etc', 'All adults who live in the UK', 'All of the above', 'Very Much', 'Somewhat', 'Undecided', 'Not Really', 'Not at all', 'Deforestation-free supply chain (minimising the consumption of products associated with deforestation and forest degradation)', 'Donating a proportion of profits to environmental organisations', 'Implementing reduced waste goals', 'Partnering with local producers of materials', 'Planting trees to help protect the environment', 'Reducing greenhouse gas emissions', 'Reducing production of plastic packaging', 'Sourcing renewable / ‘green’ energy for production', 'Using biofuels', 'Using certified ‘sustainable’ materials in production (eg Forest Stewardship Council-certified (FSC)', 'None of the above', 'Deforestation-free supply chain (minimising the consumption of products associated with deforestation and forest degradation)', 'Donating a proportion of profits to environmental organisations', 'Implementing reduced waste goals', 'Partnering with local producers of materials', 'Planting trees to help protect the environment', 'Reducing greenhouse gas emissions', 'Reducing production of plastic packaging', 'Sourcing renewable / ‘green’ energy for production', 'Using biofuels', 'Using certified ‘sustainable’ materials in production (eg Forest Stewardship Council-certified (FSC)', 'None of the above', 'Very influenced', 'Fairly influenced', 'Neither', 'Not very influenced', 'Not at all influenced', 'Yes', 'No', "Don't know", 'Food & Beverage (food items, alcohol, carbonated drinks etc)', 'Health, Beauty & Cosmetics (haircare, skincare, make up, fragrances, toiletries etc.)', 'Household Goods (cleaning items, food wrapping, toilet paper etc.)', 'Fashion & Clothing (sports, casual, speciality, everyday etc)', 'Computers & Consumer Electronics (home appliances, entertainment, gaming etc)', 'Other', 'Use of Chemicals', 'Use of Palm Oil', 'Animal Testing', 'Ethical Concerns', 'Plastic Packaging', 'Renewable Resources', 'Environmental Impact', 'Sustainability', 'Unethical Practices', 'Supporting Genocide', 'Quality', 'Price', 'No Group', 'Strongly Agree', 'Slightly Agree', 'Neither', 'Slightly Disagree', 'Strongly Disagree', 'Amazon', 'Smol', 'Coca Cola', 'Patagonia', 'The Body Shop', 'Apple', 'Lush', 'Lidl', 'Ecover', 'Oceansaver', 'Tesco', "No / Don't Know", 'Tesla', 'Nike', 'No Group']
0   Food & Beverage (food items, alcohol, carbonated drinks etc)  \
1                                                 84.0
2                                                 41.0
3                                                 43.0
4                                                  2.0
5                                                 15.0
..                                                 ...
124                                                1.0
125                                               47.0
126                                                1.0
127                                                4.0
128                                                 14

0   Health, Beauty & Cosmetics (haircare, skincare, make up, fragrances, toiletries etc.)  \
1                                                 76.0
2                                                 31.0
3                                                 45.0
4                                                  2.0
5                                                  9.0
..                                                 ...
124                                                3.0
125                                               51.0
126                                                1.0
127                                                1.0
128                                                 11

0   Household Goods (cleaning items, food wrapping, toilet paper etc.)  \
1                                                 59.0
2                                                 30.0
3                                                 29.0
4                                                  3.0
5                                                  7.0
..                                                 ...
124                                                0.0
125                                               38.0
126                                                2.0
127                                                1.0
128                                                  7

0   Fashion & Clothing (sports, casual, speciality, everyday etc)  \
1                                                 72.0
2                                                 32.0
3                                                 40.0
4                                                  3.0
5                                                  8.0
..                                                 ...
124                                                2.0
125                                               49.0
126                                                1.0
127                                                3.0
128                                                  4

0   Computers & Consumer Electronics (home appliances, entertainment, gaming etc)  \
1                                                 39.0
2                                                 27.0
3                                                 12.0
4                                                  0.0
5                                                  5.0
..                                                 ...
124                                                0.0
125                                               28.0
126                                                0.0
127                                                0.0
128                                                  6

0   Other Question_Number          Options
1     0.0             0.0            Value
2     0.0             0.0             Male
3     0.0             0.0           Female
4     0.0             0.0       North East
5     0.0             0.0       North West
..    ...             ...              ...
124   0.0            20.0            Tesco
125   0.0            20.0  No / Don't Know
126   0.0            20.0            Tesla
127   0.0            20.0             Nike
128     0              20         No Group

[128 rows x 8 columns]
-------------------------
17
['Options', 'Value', 'Male', 'Female', 'North East', 'North West', 'Yorkshire & The Humber', 'East Midlands', 'West Midlands', 'East of England', 'London', 'South East', 'South West', 'Wales', 'Scotland', 'Northern Ireland', '18-24', '25-34', '35-44', '45-54', '55-64', 'Vegetarian', 'Vegan', 'Pescatarian', 'Halal', 'Kosher', 'None of the above', 'Always', 'Often', 'Sometimes', 'Rarely', 'Never', 'Very important', 'Fairly important', 'Neither', 'Fairly unimportant', 'Very unimportant', 'Environmentally Friendly', 'Good for the planet', 'Less waste', 'Local', 'Ethical', "Don't Know", 'Longer lasting', 'No natural resource depletion', 'Recyclable', 'Locally Sourced', 'Zero Carbon', 'Reuse or Repurpose', 'No Group', 'The UK government', 'Global corporations e.g the companies that own large well-known brands', 'Global agencies e.g WWF, Greenpeace, friends of the earth etc', 'All adults who live in the UK', 'All of the above', 'Very Much', 'Somewhat', 'Undecided', 'Not Really', 'Not at all', 'Deforestation-free supply chain (minimising the consumption of products associated with deforestation and forest degradation)', 'Donating a proportion of profits to environmental organisations', 'Implementing reduced waste goals', 'Partnering with local producers of materials', 'Planting trees to help protect the environment', 'Reducing greenhouse gas emissions', 'Reducing production of plastic packaging', 'Sourcing renewable / ‘green’ energy for production', 'Using biofuels', 'Using certified ‘sustainable’ materials in production (eg Forest Stewardship Council-certified (FSC)', 'None of the above', 'Deforestation-free supply chain (minimising the consumption of products associated with deforestation and forest degradation)', 'Donating a proportion of profits to environmental organisations', 'Implementing reduced waste goals', 'Partnering with local producers of materials', 'Planting trees to help protect the environment', 'Reducing greenhouse gas emissions', 'Reducing production of plastic packaging', 'Sourcing renewable / ‘green’ energy for production', 'Using biofuels', 'Using certified ‘sustainable’ materials in production (eg Forest Stewardship Council-certified (FSC)', 'None of the above', 'Very influenced', 'Fairly influenced', 'Neither', 'Not very influenced', 'Not at all influenced', 'Yes', 'No', "Don't know", 'Food & Beverage (food items, alcohol, carbonated drinks etc)', 'Health, Beauty & Cosmetics (haircare, skincare, make up, fragrances, toiletries etc.)', 'Household Goods (cleaning items, food wrapping, toilet paper etc.)', 'Fashion & Clothing (sports, casual, speciality, everyday etc)', 'Computers & Consumer Electronics (home appliances, entertainment, gaming etc)', 'Other', 'Use of Chemicals', 'Use of Palm Oil', 'Animal Testing', 'Ethical Concerns', 'Plastic Packaging', 'Renewable Resources', 'Environmental Impact', 'Sustainability', 'Unethical Practices', 'Supporting Genocide', 'Quality', 'Price', 'No Group', 'Strongly Agree', 'Slightly Agree', 'Neither', 'Slightly Disagree', 'Strongly Disagree', 'Amazon', 'Smol', 'Coca Cola', 'Patagonia', 'The Body Shop', 'Apple', 'Lush', 'Lidl', 'Ecover', 'Oceansaver', 'Tesco', "No / Don't Know", 'Tesla', 'Nike', 'No Group']
0   Use of Chemicals Use of Palm Oil Animal Testing Ethical Concerns  \
1               15.0            10.0           40.0             46.0
2                9.0             3.0           11.0             12.0
3                6.0             7.0           29.0             34.0
4                1.0             0.0            1.0              3.0
5                1.0             1.0            5.0              4.0
..               ...             ...            ...              ...
124              1.0             1.0            1.0              0.0
125             10.0             5.0           28.0             35.0
126              1.0             0.0            0.0              0.0
127              0.0             0.0            1.0              1.0
128                1               0              5                4

0   Plastic Packaging Renewable Resources Environmental Impact Sustainability  \
1                35.0                13.0                 74.0           38.0
2                13.0                 5.0                 33.0           20.0
3                22.0                 8.0                 41.0           18.0
4                 1.0                 0.0                  0.0            0.0
5                 3.0                 4.0                 16.0            8.0
..                ...                 ...                  ...            ...
124               0.0                 0.0                  0.0            0.0
125              19.0                 7.0                 44.0           28.0
126               1.0                 1.0                  2.0            0.0
127               1.0                 1.0                  2.0            1.0
128                 5                   1                    6              1

0   Unethical Practices Supporting Genocide Quality Price No Group  \
1                  44.0                11.0    22.0  25.0     66.0
2                  14.0                 5.0    14.0  18.0     43.0
3                  30.0                 6.0     8.0   7.0     23.0
4                   4.0                 0.0     0.0   1.0      1.0
5                   2.0                 0.0     1.0   4.0     13.0
..                  ...                 ...     ...   ...      ...
124                 0.0                 0.0     2.0   1.0      1.0
125                32.0                 9.0     9.0  17.0     44.0
126                 0.0                 0.0     1.0   1.0      0.0
127                 0.0                 0.0     1.0   0.0      3.0
128                   5                   0       5     3       14

0   Question_Number          Options
1               0.0            Value
2               0.0             Male
3               0.0           Female
4               0.0       North East
5               0.0       North West
..              ...              ...
124            20.0            Tesco
125            20.0  No / Don't Know
126            20.0            Tesla
127            20.0             Nike
128              20         No Group

[128 rows x 15 columns]
-------------------------
18

C:\Users\tanma\AppData\Local\Temp\ipykernel_20980\48040473.py:15: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  x = str(row[0])
C:\Users\tanma\AppData\Local\Temp\ipykernel_20980\48040473.py:15: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  x = str(row[0])
C:\Users\tanma\AppData\Local\Temp\ipykernel_20980\48040473.py:15: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  x = str(row[0])
C:\Users\tanma\AppData\Local\Temp\ipykernel_20980\48040473.py:15: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  x = str(row[0])

19
['Options', 'Value', 'Male', 'Female', 'North East', 'North West', 'Yorkshire & The Humber', 'East Midlands', 'West Midlands', 'East of England', 'London', 'South East', 'South West', 'Wales', 'Scotland', 'Northern Ireland', '18-24', '25-34', '35-44', '45-54', '55-64', 'Vegetarian', 'Vegan', 'Pescatarian', 'Halal', 'Kosher', 'None of the above', 'Always', 'Often', 'Sometimes', 'Rarely', 'Never', 'Very important', 'Fairly important', 'Neither', 'Fairly unimportant', 'Very unimportant', 'Environmentally Friendly', 'Good for the planet', 'Less waste', 'Local', 'Ethical', "Don't Know", 'Longer lasting', 'No natural resource depletion', 'Recyclable', 'Locally Sourced', 'Zero Carbon', 'Reuse or Repurpose', 'No Group', 'The UK government', 'Global corporations e.g the companies that own large well-known brands', 'Global agencies e.g WWF, Greenpeace, friends of the earth etc', 'All adults who live in the UK', 'All of the above', 'Very Much', 'Somewhat', 'Undecided', 'Not Really', 'Not at all', 'Deforestation-free supply chain (minimising the consumption of products associated with deforestation and forest degradation)', 'Donating a proportion of profits to environmental organisations', 'Implementing reduced waste goals', 'Partnering with local producers of materials', 'Planting trees to help protect the environment', 'Reducing greenhouse gas emissions', 'Reducing production of plastic packaging', 'Sourcing renewable / ‘green’ energy for production', 'Using biofuels', 'Using certified ‘sustainable’ materials in production (eg Forest Stewardship Council-certified (FSC)', 'None of the above', 'Deforestation-free supply chain (minimising the consumption of products associated with deforestation and forest degradation)', 'Donating a proportion of profits to environmental organisations', 'Implementing reduced waste goals', 'Partnering with local producers of materials', 'Planting trees to help protect the environment', 'Reducing greenhouse gas emissions', 'Reducing production of plastic packaging', 'Sourcing renewable / ‘green’ energy for production', 'Using biofuels', 'Using certified ‘sustainable’ materials in production (eg Forest Stewardship Council-certified (FSC)', 'None of the above', 'Very influenced', 'Fairly influenced', 'Neither', 'Not very influenced', 'Not at all influenced', 'Yes', 'No', "Don't know", 'Food & Beverage (food items, alcohol, carbonated drinks etc)', 'Health, Beauty & Cosmetics (haircare, skincare, make up, fragrances, toiletries etc.)', 'Household Goods (cleaning items, food wrapping, toilet paper etc.)', 'Fashion & Clothing (sports, casual, speciality, everyday etc)', 'Computers & Consumer Electronics (home appliances, entertainment, gaming etc)', 'Other', 'Use of Chemicals', 'Use of Palm Oil', 'Animal Testing', 'Ethical Concerns', 'Plastic Packaging', 'Renewable Resources', 'Environmental Impact', 'Sustainability', 'Unethical Practices', 'Supporting Genocide', 'Quality', 'Price', 'No Group', 'Strongly Agree', 'Slightly Agree', 'Neither', 'Slightly Disagree', 'Strongly Disagree', 'Amazon', 'Smol', 'Coca Cola', 'Patagonia', 'The Body Shop', 'Apple', 'Lush', 'Lidl', 'Ecover', 'Oceansaver', 'Tesco', "No / Don't Know", 'Tesla', 'Nike', 'No Group']
0   Strongly Agree  Slightly Agree  Neither  Slightly Disagree   \
1             127.0           266.0    254.0              189.0
2              70.0           135.0    118.0               75.0
3              57.0           131.0    136.0              114.0
4               7.0             9.0     15.0                4.0
5              15.0            30.0     30.0               24.0
..              ...             ...      ...                ...
124             2.0             5.0      3.0                3.0
125            82.0           167.0    185.0              148.0
126             3.0             3.0      3.0                0.0
127             6.0             8.0      3.0                2.0
128              23              38       28                 11

0   Strongly Disagree  Question_Number          Options
1                172.0             0.0            Value
2                 78.0             0.0             Male
3                 94.0             0.0           Female
4                 10.0             0.0       North East
5                 15.0             0.0       North West
..                 ...             ...              ...
124                2.0            20.0            Tesco
125              131.0            20.0  No / Don't Know
126                3.0            20.0            Tesla
127                4.0            20.0             Nike
128                 12              20         No Group

[128 rows x 7 columns]
-------------------------
20
0   Amazon  Smol Coca Cola Patagonia The Body Shop Apple  Lush  Lidl Ecover  \
1     23.0  15.0       4.0      22.0          30.0  52.0  18.0  45.0   21.0
2     13.0   5.0       2.0      13.0          12.0  25.0   7.0  28.0   10.0
3     10.0  10.0       2.0       9.0          18.0  27.0  11.0  17.0   11.0
4      2.0   1.0       0.0       1.0           0.0   3.0   1.0   0.0    1.0
5      1.0   0.0       1.0       1.0           2.0   6.0   2.0   7.0    1.0
..     ...   ...       ...       ...           ...   ...   ...   ...    ...
124    0.0   0.0       0.0       0.0           0.0   0.0   0.0   0.0    0.0
125    0.0   0.0       0.0       0.0           0.0   0.0   0.0   0.0    0.0
126    0.0   0.0       0.0       0.0           0.0   0.0   0.0   0.0    0.0
127    0.0   0.0       0.0       0.0           0.0   0.0   0.0   0.0    0.0
128      0     0         0         0             0     0     0     0      0

0   Oceansaver Tesco No / Don't Know Tesla  Nike No Group Question_Number  \
1          3.0  15.0           714.0  12.0  23.0    112.0             0.0
2          1.0   8.0           321.0  12.0  13.0     57.0             0.0
3          2.0   7.0           393.0   0.0  10.0     55.0             0.0
4          1.0   0.0            34.0   0.0   0.0      4.0             0.0
5          1.0   0.0            80.0   2.0   4.0     14.0             0.0
..         ...   ...             ...   ...   ...      ...             ...
124        0.0   0.0             0.0   0.0   0.0      0.0            20.0
125        0.0   0.0             0.0   0.0   0.0      0.0            20.0
126        0.0   0.0             0.0   0.0   0.0      0.0            20.0
127        0.0   0.0             0.0   0.0   0.0      0.0            20.0
128          0     0               0     0     0        0              20

0            Options
1              Value
2               Male
3             Female
4         North East
5         North West
..               ...
124            Tesco
125  No / Don't Know
126            Tesla
127             Nike
128         No Group

[128 rows x 17 columns]

C:\Users\tanma\AppData\Local\Temp\ipykernel_20980\48040473.py:15: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  x = str(row[0])
C:\Users\tanma\AppData\Local\Temp\ipykernel_20980\48040473.py:15: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  x = str(row[0])

In [168]:
df_q = pd.read_csv('data//Question_csvs//Questions.csv',encoding='unicode_escape')
df_q

    Question_Number                                           Question
0                 0                                        Common Data
1                 1  Please rank the importance of the following is...
2                 2  Please select which, if any, of the following ...
3                 3  How frequently or not would you say you purcha...
4                 4   In your opinion how important or not are the ...
5                 5      What does the term sustainable mean to you?
6                 6  How frequently do you engage in any of the fol...
7                 7  And how frequently do you engage in any of the...
8                 8  Primarily, whos responsibility do you believe...
9                 9  To what extent do you trust companies and the ...
10               10  Which of the following types of claims by comp...
11               11  And, which of the following claims do you find...
12               12  When shopping for items in store or online, ho...
13               13  In general, how do you rate each of the follow...
14               14  Please rank the following categories from the ...
15               15  Have you ever stopped buying a brand / product...
16               16    Which category did the brand product belong to:
17               17  What was the reason you stopped buying this br...
18               18  Thinking about each of the following categorie...
19               19  How much do you agree or disagree with the fol...
20               20  Can you name one brand that stands out to you ...

In [169]:
df_q.to_sql('Questions', conn, if_exists='replace', index=False)

21

,Amazon,Smol,Coca Cola,Patagonia,The Body Shop,Apple,Lush,Lidl,Ecover,Oceansaver,Tesco,No / Don't Know,Tesla,Nike,No Group,Question_Number
1,23.0,15.0,4.0,22.0,30.0,52.0,18.0,45.0,21.0,3.0,15.0,714.0,12.0,23.0,112.0,0.0
2,13.0,5.0,2.0,13.0,12.0,25.0,7.0,28.0,10.0,1.0,8.0,321.0,12.0,13.0,57.0,0.0
3,10.0,10.0,2.0,9.0,18.0,27.0,11.0,17.0,11.0,2.0,7.0,393.0,0.0,10.0,55.0,0.0
4,2.0,1.0,0.0,1.0,0.0,3.0,1.0,0.0,1.0,1.0,0.0,34.0,0.0,0.0,4.0,0.0
5,1.0,0.0,1.0,1.0,2.0,6.0,2.0,7.0,1.0,1.0,0.0,80.0,2.0,4.0,14.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
124,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,20.0
125,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,20.0
126,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,20.0
127,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,20.0
128,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,20

,Total,Amazon,Smol,Coca Cola,Patagonia,The Body Shop,Apple,Lush,Lidl,Ecover,Oceansaver,Tesco,No / Don't Know,Tesla,Nike,No Group,Question_Number
1,1009.0,23.0,15.0,4.0,22.0,30.0,52.0,18.0,45.0,21.0,3.0,15.0,714.0,12.0,23.0,112.0,0.0
2,477.0,13.0,5.0,2.0,13.0,12.0,25.0,7.0,28.0,10.0,1.0,8.0,321.0,12.0,13.0,57.0,0.0
3,532.0,10.0,10.0,2.0,9.0,18.0,27.0,11.0,17.0,11.0,2.0,7.0,393.0,0.0,10.0,55.0,0.0
4,45.0,2.0,1.0,0.0,1.0,0.0,3.0,1.0,0.0,1.0,1.0,0.0,34.0,0.0,0.0,4.0,0.0
5,114.0,1.0,0.0,1.0,1.0,2.0,6.0,2.0,7.0,1.0,1.0,0.0,80.0,2.0,4.0,14.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
124,15.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,20.0
125,714.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,20.0
126,12.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,20.0
127,23.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,20.0
128,112,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,20

   A  B
0  1  4
1  2  5
2  3  6

   0  1  2 Option
0  1  2  3      A
1  4  5  6      B