## Try with chains

In [4]:
from langchain_community.utilities import SQLDatabase

db = SQLDatabase.from_uri("sqlite:///../Data/DB/Sustain.db")
print(db.dialect)
print(db.get_usable_table_names())
# db.run("select Female_ from Options where Demographics_='Always_' and Question_Number=3;")

sqlite
['Question_0', 'Question_1', 'Question_10', 'Question_11', 'Question_12', 'Question_13', 'Question_14', 'Question_15', 'Question_16', 'Question_17', 'Question_18', 'Question_19', 'Question_2', 'Question_20', 'Question_3', 'Question_4', 'Question_5', 'Question_6', 'Question_7', 'Question_8', 'Question_9', 'Questions']

In [5]:
from langchain_community.agent_toolkits import SQLDatabaseToolkit
from langchain_openai import ChatOpenAI
from langchain.chains import create_sql_query_chain
from dotenv import load_dotenv
load_dotenv()
llm =  ChatOpenAI(model="gpt-4o", temperature=0)



chain = create_sql_query_chain(llm, db)
op_cols = db.run("""
    SELECT Options from "Question_1";
""")
ques = db.run(
    """
    SELECT * from Questions;
"""
)
res = chain.invoke({"question": f" Option column has values : {op_cols} And Questions table contain {ques} from survey which are linked with all other tables. Keeping that in mind How much male buy sustainable and enviromentaly friendly products? only return query"})
print(res)

```sql
SELECT "Male"
FROM "Question_3"
WHERE "Options" = 'Male'
LIMIT 5;
```

In [6]:
db.run("""
      SELECT "Male" 
FROM "Question_4" 
WHERE "Options" = 'Male'
LIMIT 5;
       """)

"[('Male',)]"

In [7]:
from langchain_community.tools.sql_database.tool import QuerySQLDataBaseTool

write_query = create_sql_query_chain(llm, db)
execute_query = QuerySQLDataBaseTool(db=db)

chain = write_query | execute_query

# chain.invoke({"question": "Option column has values : {op_cols} And Questions table contain :{ques}. Keeping that in mind What is the most important issue in London ?"})
# response
res = chain.invoke({"question": f" Option column has values : {op_cols} And Questions table contain {ques} from survey which are linked with all other tables. Keeping that in mind How much male buy sustainable and enviromentaly friendly products? only return query"})
print(res)

Error: (sqlite3.OperationalError) near "```sql
SELECT "Male"
FROM "Question_3"
WHERE "Options" = 'Male'
LIMIT 5;
```": syntax error
[SQL: ```sql
SELECT "Male"
FROM "Question_3"
WHERE "Options" = 'Male'
LIMIT 5;
```]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [8]:
from operator import itemgetter
from langchain_core.output_parsers import StrOutputParser
from langchain_core.prompts import PromptTemplate
from langchain_core.runnables import RunnablePassthrough

answer_prompt = PromptTemplate.from_template(
    """Given the following user question, corresponding SQL query, and SQL result, answer the user question.

Question: {question}
SQL Query: {query}
SQL Result: {result}
Answer: """
)

answer = answer_prompt | llm | StrOutputParser()
chain = (
    RunnablePassthrough.assign(query=write_query).assign(
        result=itemgetter("query") | execute_query
    )
    | answer
)

res = chain.invoke({"question": f" Option column has values : {op_cols} And Questions table contain {ques} from survey which are linked with all other tables. Keeping that in mind  only return query"})
print(res)

The SQL query provided contains a syntax error due to the incorrect placement of "SQLQuery:" before the actual SQL code. To correct this, the query should be written without the "SQLQuery:" prefix. Here is the corrected query:

```sql
SELECT "Question_Number", "Question"
FROM "Questions"
WHERE "Question_Number" IN (0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)
LIMIT 5;
```

This query will return the first five questions from the "Questions" table where the "Question_Number" is within the specified range.

In [91]:
db.run(
    """
    SELECT COUNT(*)
FROM "Question_4" AS q4
JOIN "Responses" AS r ON q4.response_id = r.id
JOIN "Demographics" AS d ON r.demographic_id = d.id
WHERE d.gender = 'Male' AND q4.answer IN ('Always', 'Often', 'Sometimes');
"""
)

OperationalError: (sqlite3.OperationalError) no such table: Responses
[SQL:
    SELECT COUNT(*)
FROM "Question_4" AS q4
JOIN "Responses" AS r ON q4.response_id = r.id
JOIN "Demographics" AS d ON r.demographic_id = d.id
WHERE d.gender = 'Male' AND q4.answer IN ('Always', 'Often', 'Sometimes');
]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

### Code to use

In [111]:
from langchain_community.agent_toolkits import create_sql_agent

agent_executor = create_sql_agent(llm, db=db, agent_type="openai-tools", verbose=True)

answer = agent_executor.invoke(
    {
        "input": f" Option column has values : {op_cols} And Questions table contain {ques} from survey which are linked with all other tables. Keeping that in mind How much male buy sustainable and enviromentaly friendly products?"
    }
)

> Entering new SQL Agent Executor chain...

Invoking: `sql_db_list_tables` with `{}`


Question_1, Question_10, Question_11, Question_12, Question_13, Question_14, Question_15, Question_16, Question_17, Question_18, Question_19, Question_2, Question_20, Question_3, Question_4, Question_5, Question_6, Question_7, Question_8, Question_9, Questions
Invoking: `sql_db_schema` with `{'table_names': 'Question_3, Question_4, Question_5, Question_6, Question_7, Questions'}`



CREATE TABLE "Question_3" (
	"Vegetarian " TEXT,
	"Vegan " TEXT,
	"Pescatarian " TEXT,
	"Halal " TEXT,
	"Kosher " TEXT,
	"None of the above " TEXT,
	"Question_Number" TEXT,
	"Options" TEXT
)

/*
3 rows from Question_3 table:
Vegetarian 	Vegan 	Pescatarian 	Halal 	Kosher 	None of the above 	Question_Number	Options
90.0	44.0	61.0	87.0	11.0	715.0	0.0	Value
41.0	18.0	29.0	47.0	6.0	335.0	0.0	Male
49.0	26.0	32.0	40.0	5.0	380.0	0.0	Female
*/


CREATE TABLE "Question_4" (
	"Always " TEXT,
	"Often " TEXT,
	"Sometimes " TEXT,
	"Rarely " TEXT,
	"Never" TEXT,
	"Question_Number" TEXT,
	"Options" TEXT
)

/*
3 rows from Question_4 table:
Always 	Often 	Sometimes 	Rarely 	Never	Question_Number	Options
168.0	366.0	379.0	65.0	30.0	0.0	Value
90.0	161.0	179.0	34.0	13.0	0.0	Male
78.0	205.0	200.0	31.0	17.0	0.0	Female
*/


CREATE TABLE "Question_5" (
	"Very important " TEXT,
	"Fairly important " TEXT,
	"Neither " TEXT,
	"Fairly unimportant" TEXT,
	"Very unimportant " TEXT,
	"Question_Number" TEXT,
	"Options" TEXT
)

/*
3 rows from Question_5 table:
Very important 	Fairly important 	Neither 	Fairly unimportant	Very unimportant 	Question_Number	Options
259.0	456.0	205.0	56.0	31.0	0.0	Value
128.0	211.0	92.0	28.0	17.0	0.0	Male
131.0	245.0	113.0	28.0	14.0	0.0	Female
*/


CREATE TABLE "Question_6" (
	"Environmentally Friendly" TEXT,
	"Good for the planet" TEXT,
	"Less waste" TEXT,
	"Local" TEXT,
	"Ethical" TEXT,
	"Don't Know" TEXT,
	"Longer lasting" TEXT,
	"No natural resource depletion" TEXT,
	"Recyclable" TEXT,
	"Locally Sourced" TEXT,
	"Zero Carbon" TEXT,
	"Reuse or Repurpose" TEXT,
	"No Group" TEXT,
	"Question_Number" TEXT,
	"Options" TEXT
)

/*
3 rows from Question_6 table:
Environmentally Friendly	Good for the planet	Less waste	Local	Ethical	Don't Know	Longer lasting	No natural resource depletion	Recyclable	Locally Sourced	Zero Carbon	Reuse or Repurpose	No Group	Question_Number	Options
371.0	395.0	50.0	28.0	68.0	69.0	127.0	119.0	100.0	23.0	37.0	85.0	161.0	0.0	Value
165.0	177.0	20.0	15.0	31.0	30.0	61.0	65.0	34.0	13.0	21.0	34.0	92.0	0.0	Male
206.0	218.0	30.0	13.0	37.0	39.0	66.0	54.0	66.0	10.0	16.0	51.0	69.0	0.0	Female
*/


CREATE TABLE "Question_7" (
	"Check if products are made from recyclable or biodegradable materials  - Always " TEXT,
	"Check if products are made from recyclable or biodegradable materials  - Often " TEXT,
	"Check if products are made from recyclable or biodegradable materials  - Rarely " TEXT,
	"Check if products are made from recyclable or biodegradable materials  - Sometimes " TEXT,
	"Check if products are made from recyclable or biodegradable materials  - Never " TEXT,
	"Limit my use of single use plastics  - Always " TEXT,
	"Limit my use of single use plastics  - Often " TEXT,
	"Limit my use of single use plastics  - Rarely " TEXT,
	"Limit my use of single use plastics  - Sometimes " TEXT,
	"Limit my use of single use plastics  - Never " TEXT,
	"Pay more for a more durable / longer lasting items - Always " TEXT,
	"Pay more for a more durable / longer lasting items - Often " TEXT,
	"Pay more for a more durable / longer lasting items - Rarely " TEXT,
	"Pay more for a more durable / longer lasting items - Sometimes " TEXT,
	"Pay more for a more durable / longer lasting items - Never " TEXT,
	"Purchase fewer plastics - Always " TEXT,
	"Purchase fewer plastics - Often " TEXT,
	"Purchase fewer plastics - Rarely " TEXT,
	"Purchase fewer plastics - Sometimes " TEXT,
	"Purchase fewer plastics - Never " TEXT,
	"Purchase more locally produced goods - Always " TEXT,
	"Purchase more locally produced goods - Often " TEXT,
	"Purchase more locally produced goods - Rarely " TEXT,
	"Purchase more locally produced goods - Sometimes " TEXT,
	"Purchase more locally produced goods - Never " TEXT,
	"Purchase products made of natural ingredients - Always " TEXT,
	"Purchase products made of natural ingredients - Often " TEXT,
	"Purchase products made of natural ingredients - Rarely " TEXT,
	"Purchase products made of natural ingredients - Sometimes " TEXT,
	"Purchase products made of natural ingredients - Never " TEXT,
	"Purchase second-hand items - Always " TEXT,
	"Purchase second-hand items - Often " TEXT,
	"Purchase second-hand items - Rarely " TEXT,
	"Purchase second-hand items - Sometimes " TEXT,
	"Purchase second-hand items - Never " TEXT,
	"Question_Number" TEXT,
	"Options" TEXT
)

/*
3 rows from Question_7 table:
Check if products are made from recyclable or biodegradable materials  - Always 	Check if products are made from recyclable or biodegradable materials  - Often 	Check if products are made from recyclable or biodegradable materials  - Rarely 	Check if products are made from recyclable or biodegradable materials  - Sometimes 	Check if products are made from recyclable or biodegradable materials  - Never 	Limit my use of single use plastics  - Always 	Limit my use of single use plastics  - Often 	Limit my use of single use plastics  - Rarely 	Limit my use of single use plastics  - Sometimes 	Limit my use of single use plastics  - Never 	Pay more for a more durable / longer lasting items - Always 	Pay more for a more durable / longer lasting items - Often 	Pay more for a more durable / longer lasting items - Rarely 	Pay more for a more durable / longer lasting items - Sometimes 	Pay more for a more durable / longer lasting items - Never 	Purchase fewer plastics - Always 	Purchase fewer plastics - Often 	Purchase fewer plastics - Rarely 	Purchase fewer plastics - Sometimes 	Purchase fewer plastics - Never 	Purchase more locally produced goods - Always 	Purchase more locally produced goods - Often 	Purchase more locally produced goods - Rarely 	Purchase more locally produced goods - Sometimes 	Purchase more locally produced goods - Never 	Purchase products made of natural ingredients - Always 	Purchase products made of natural ingredients - Often 	Purchase products made of natural ingredients - Rarely 	Purchase products made of natural ingredients - Sometimes 	Purchase products made of natural ingredients - Never 	Purchase second-hand items - Always 	Purchase second-hand items - Often 	Purchase second-hand items - Rarely 	Purchase second-hand items - Sometimes 	Purchase second-hand items - Never 	Question_Number	Options
167.0	344.0	215.0	169.0	114.0	232.0	424.0	149.0	153.0	51.0	183.0	414.0	167.0	183.0	62.0	200.0	393.0	164.0	211.0	41.0	167.0	400.0	178.0	217.0	47.0	153.0	447.0	172.0	198.0	39.0	116.0	375.0	227.0	200.0	91.0	0.0	Value
75.0	164.0	107.0	81.0	50.0	101.0	190.0	81.0	76.0	29.0	76.0	200.0	88.0	81.0	32.0	89.0	181.0	83.0	101.0	23.0	71.0	188.0	87.0	107.0	24.0	69.0	207.0	91.0	93.0	17.0	43.0	154.0	127.0	106.0	47.0	0.0	Male
92.0	180.0	108.0	88.0	64.0	131.0	234.0	68.0	77.0	22.0	107.0	214.0	79.0	102.0	30.0	111.0	212.0	81.0	110.0	18.0	96.0	212.0	91.0	110.0	23.0	84.0	240.0	81.0	105.0	22.0	73.0	221.0	100.0	94.0	44.0	0.0	Female
*/


CREATE TABLE "Questions" (
	"Question_Number" INTEGER,
	"Question" TEXT
)

/*
3 rows from Questions table:
Question_Number	Question
0	Common Data
1	Please rank the importance of the following issues facing the UK today. From 1 being the most import
2	Please select which, if any, of the following most closely represents your dietary preference:
*/
Invoking: `sql_db_query` with `{'query': 'SELECT "Always ", "Often ", "Sometimes ", "Rarely ", "Never" FROM Question_4 WHERE Options = \'Male\' LIMIT 10;'}`
responded: To determine how much males buy sustainable and environmentally friendly products, we can refer to the "Question_4" table, which contains data on the frequency of purchasing such products. Let's query the relevant data for males.

[('90.0', '161.0', '179.0', '34.0', '13.0')]The data for males purchasing sustainable and environmentally friendly products is as follows:

- Always: 90
- Often: 161
- Sometimes: 179
- Rarely: 34
- Never: 13

This indicates that a significant number of males often or sometimes purchase sustainable and environmentally friendly products.

> Finished chain.

In [112]:
answer

{'input': ' Option column has values : [(\'Value\',), (\'Male\',), (\'Female\',), (\'North East\',), (\'North West\',), (\'Yorkshire & The Humber\',), (\'East Midlands\',), (\'West Midlands\',), (\'East of England\',), (\'London\',), (\'South East\',), (\'South West\',), (\'Wales\',), (\'Scotland\',), (\'Northern Ireland\',), (\'18-24\',), (\'25-34\',), (\'35-44\',), (\'45-54\',), (\'55-64\',), (\'Vegetarian\',), (\'Vegan\',), (\'Pescatarian\',), (\'Halal\',), (\'Kosher\',), (\'None of the above\',), (\'Always\',), (\'Often\',), (\'Sometimes\',), (\'Rarely\',), (\'Never\',), (\'Very important\',), (\'Fairly important\',), (\'Neither\',), (\'Fairly unimportant\',), (\'Very unimportant\',), (\'Environmentally Friendly\',), (\'Good for the planet\',), (\'Less waste\',), (\'Local\',), (\'Ethical\',), ("Don\'t Know",), (\'Longer lasting\',), (\'No natural resource depletion\',), (\'Recyclable\',), (\'Locally Sourced\',), (\'Zero Carbon\',), (\'Reuse or Repurpose\',), (\'No Group\',), (\'The UK government\',), (\'Global corporations e.g the companies that own large well-known brands\',), (\'Global agencies e.g WWF, Greenpeace, friends of the earth etc\',), (\'All adults who live in the UK\',), (\'All of the above\',), (\'Very Much\',), (\'Somewhat\',), (\'Undecided\',), (\'Not Really\',), (\'Not at all\',), (\'Deforestation-free supply chain (minimising the consumption of products associated with deforestation and forest degradation)\',), (\'Donating a proportion of profits to environmental organisations\',), (\'Implementing reduced waste goals\',), (\'Partnering with local producers of materials\',), (\'Planting trees to help protect the environment\',), (\'Reducing greenhouse gas emissions\',), (\'Reducing production of plastic packaging\',), (\'Sourcing renewable / ‘green’ energy for production\',), (\'Using biofuels\',), (\'Using certified ‘sustainable’ materials in production (eg Forest Stewardship Council-certified (FSC)\',), (\'None of the above\',), (\'Deforestation-free supply chain (minimising the consumption of products associated with deforestation and forest degradation)\',), (\'Donating a proportion of profits to environmental organisations\',), (\'Implementing reduced waste goals\',), (\'Partnering with local producers of materials\',), (\'Planting trees to help protect the environment\',), (\'Reducing greenhouse gas emissions\',), (\'Reducing production of plastic packaging\',), (\'Sourcing renewable / ‘green’ energy for production\',), (\'Using biofuels\',), (\'Using certified ‘sustainable’ materials in production (eg Forest Stewardship Council-certified (FSC)\',), (\'None of the above\',), (\'Very influenced\',), (\'Fairly influenced\',), (\'Neither\',), (\'Not very influenced\',), (\'Not at all influenced\',), (\'Yes\',), (\'No\',), ("Don\'t know",), (\'Food & Beverage (food items, alcohol, carbonated drinks etc)\',), (\'Health, Beauty & Cosmetics (haircare, skincare, make up, fragrances, toiletries etc.)\',), (\'Household Goods (cleaning items, food wrapping, toilet paper etc.)\',), (\'Fashion & Clothing (sports, casual, speciality, everyday etc)\',), (\'Computers & Consumer Electronics (home appliances, entertainment, gaming etc)\',), (\'Other\',), (\'Use of Chemicals\',), (\'Use of Palm Oil\',), (\'Animal Testing\',), (\'Ethical Concerns\',), (\'Plastic Packaging\',), (\'Renewable Resources\',), (\'Environmental Impact\',), (\'Sustainability\',), (\'Unethical Practices\',), (\'Supporting Genocide\',), (\'Quality\',), (\'Price\',), (\'No Group\',), (\'Strongly Agree\',), (\'Slightly Agree\',), (\'Neither\',), (\'Slightly Disagree\',), (\'Strongly Disagree\',), (\'Amazon\',), (\'Smol\',), (\'Coca Cola\',), (\'Patagonia\',), (\'The Body Shop\',), (\'Apple\',), (\'Lush\',), (\'Lidl\',), (\'Ecover\',), (\'Oceansaver\',), (\'Tesco\',), ("No / Don\'t Know",), (\'Tesla\',), (\'Nike\',), (\'No Group\',)] And Questions table contain [(0, \'Common Data\'), (1, \'Please rank the importance of the following issues facing the UK today. From 1 being the most important to 10 being of lesser importance. Please drag and drop the options into place from 1 to 10. \'), (2, \'Please select which, if any, of the following most closely represents your dietary preference:\'), (3, \'How frequently or not would you say you purchase products that could be considered as environmentally friendly or sustainable?\'), (4, \' In your opinion how important or not are the sustainability credentials of the brands / products that you buy?\'), (5, \'What does the term \\x91sustainable\\x92 mean to you?\'), (6, \'How frequently do you engage in any of the following practices?\'), (7, \'And how frequently do you engage in any of the following practices?\'), (8, \'Primarily, who\\x92s responsibility do you believe it is to drive sustainability practises / values in the UK? You may choose only one option. \'), (9, \'To what extent do you trust companies and the messages they communicate based on being environmentally friendly / sustainable?\'), (10, \'Which of the following types of claims by companies who produce consumer products do you find most impactful when choosing to purchase brands / products? Please select all that apply\'), (11, \'And, which of the following claims do you find the most impactful when choosing to purchase brands / products from that company? You may choose only one option. \'), (12, "When shopping for items in store or online, how influenced or not are you to make a purchase decision based on environmental / sustainable claims that appear on a product\'s packaging?"), (13, \'In general, how do you rate each of the following categories on their sustainability practices / values?\'), (14, \'Please rank the following categories from the one you feel is most sustainability focused (1) to the one you feel is least sustainability focused (5)\'), (15, \'Have you ever stopped buying a brand / product for ethical or sustainability reasons?\'), (16, \'Which category did the brand product belong to:\'), (17, \'What was the reason you stopped buying this brand / product?\'), (18, \'Thinking about each of the following categories individually. How much extra are you willing to pay for products in this category that are more environmentally conscious / engage in sustainable practices?\'), (19, \'How much do you agree or disagree with the following statement? \\x91The more expensive the brand / product, the more credible its sustainability claims are\\x92\'), (20, \'Can you name one brand that stands out to you for its environmental / sustainability focus? And why?\')] from survey which are linked with all other tables. Keeping that in mind How much male buy sustainable and enviromentaly friendly products?',
 'output': 'The data for males purchasing sustainable and environmentally friendly products is as follows:\n\n- Always: 90\n- Often: 161\n- Sometimes: 179\n- Rarely: 34\n- Never: 13\n\nThis indicates that a significant number of males often or sometimes purchase sustainable and environmentally friendly products.'}

In [118]:
query_gen_system = PromptTemplate.from_template("""
    You are a Business Analyst And you have recieved data from SQL agent. Given the following user question, and result, answer the user question. 
    question: {input}
    result: {output} 
    Answer:""")


chain = agent_executor | query_gen_system | llm | StrOutputParser()
res = chain.invoke(
    {
        "input": f" Option column has values : {op_cols} And Questions table contain {ques} from survey which are linked with all other tables. Keeping that in mind How much male buy sustainable and enviromentaly friendly products?"
    }
)
print(res)

> Entering new SQL Agent Executor chain...

Invoking: `sql_db_list_tables` with `{}`


Question_1, Question_10, Question_11, Question_12, Question_13, Question_14, Question_15, Question_16, Question_17, Question_18, Question_19, Question_2, Question_20, Question_3, Question_4, Question_5, Question_6, Question_7, Question_8, Question_9, Questions
Invoking: `sql_db_schema` with `{'table_names': 'Question_3, Question_4, Question_5, Question_6, Question_7, Questions'}`



CREATE TABLE "Question_3" (
	"Vegetarian " TEXT,
	"Vegan " TEXT,
	"Pescatarian " TEXT,
	"Halal " TEXT,
	"Kosher " TEXT,
	"None of the above " TEXT,
	"Question_Number" TEXT,
	"Options" TEXT
)

/*
3 rows from Question_3 table:
Vegetarian 	Vegan 	Pescatarian 	Halal 	Kosher 	None of the above 	Question_Number	Options
90.0	44.0	61.0	87.0	11.0	715.0	0.0	Value
41.0	18.0	29.0	47.0	6.0	335.0	0.0	Male
49.0	26.0	32.0	40.0	5.0	380.0	0.0	Female
*/


CREATE TABLE "Question_4" (
	"Always " TEXT,
	"Often " TEXT,
	"Sometimes " TEXT,
	"Rarely " TEXT,
	"Never" TEXT,
	"Question_Number" TEXT,
	"Options" TEXT
)

/*
3 rows from Question_4 table:
Always 	Often 	Sometimes 	Rarely 	Never	Question_Number	Options
168.0	366.0	379.0	65.0	30.0	0.0	Value
90.0	161.0	179.0	34.0	13.0	0.0	Male
78.0	205.0	200.0	31.0	17.0	0.0	Female
*/


CREATE TABLE "Question_5" (
	"Very important " TEXT,
	"Fairly important " TEXT,
	"Neither " TEXT,
	"Fairly unimportant" TEXT,
	"Very unimportant " TEXT,
	"Question_Number" TEXT,
	"Options" TEXT
)

/*
3 rows from Question_5 table:
Very important 	Fairly important 	Neither 	Fairly unimportant	Very unimportant 	Question_Number	Options
259.0	456.0	205.0	56.0	31.0	0.0	Value
128.0	211.0	92.0	28.0	17.0	0.0	Male
131.0	245.0	113.0	28.0	14.0	0.0	Female
*/


CREATE TABLE "Question_6" (
	"Environmentally Friendly" TEXT,
	"Good for the planet" TEXT,
	"Less waste" TEXT,
	"Local" TEXT,
	"Ethical" TEXT,
	"Don't Know" TEXT,
	"Longer lasting" TEXT,
	"No natural resource depletion" TEXT,
	"Recyclable" TEXT,
	"Locally Sourced" TEXT,
	"Zero Carbon" TEXT,
	"Reuse or Repurpose" TEXT,
	"No Group" TEXT,
	"Question_Number" TEXT,
	"Options" TEXT
)

/*
3 rows from Question_6 table:
Environmentally Friendly	Good for the planet	Less waste	Local	Ethical	Don't Know	Longer lasting	No natural resource depletion	Recyclable	Locally Sourced	Zero Carbon	Reuse or Repurpose	No Group	Question_Number	Options
371.0	395.0	50.0	28.0	68.0	69.0	127.0	119.0	100.0	23.0	37.0	85.0	161.0	0.0	Value
165.0	177.0	20.0	15.0	31.0	30.0	61.0	65.0	34.0	13.0	21.0	34.0	92.0	0.0	Male
206.0	218.0	30.0	13.0	37.0	39.0	66.0	54.0	66.0	10.0	16.0	51.0	69.0	0.0	Female
*/


CREATE TABLE "Question_7" (
	"Check if products are made from recyclable or biodegradable materials  - Always " TEXT,
	"Check if products are made from recyclable or biodegradable materials  - Often " TEXT,
	"Check if products are made from recyclable or biodegradable materials  - Rarely " TEXT,
	"Check if products are made from recyclable or biodegradable materials  - Sometimes " TEXT,
	"Check if products are made from recyclable or biodegradable materials  - Never " TEXT,
	"Limit my use of single use plastics  - Always " TEXT,
	"Limit my use of single use plastics  - Often " TEXT,
	"Limit my use of single use plastics  - Rarely " TEXT,
	"Limit my use of single use plastics  - Sometimes " TEXT,
	"Limit my use of single use plastics  - Never " TEXT,
	"Pay more for a more durable / longer lasting items - Always " TEXT,
	"Pay more for a more durable / longer lasting items - Often " TEXT,
	"Pay more for a more durable / longer lasting items - Rarely " TEXT,
	"Pay more for a more durable / longer lasting items - Sometimes " TEXT,
	"Pay more for a more durable / longer lasting items - Never " TEXT,
	"Purchase fewer plastics - Always " TEXT,
	"Purchase fewer plastics - Often " TEXT,
	"Purchase fewer plastics - Rarely " TEXT,
	"Purchase fewer plastics - Sometimes " TEXT,
	"Purchase fewer plastics - Never " TEXT,
	"Purchase more locally produced goods - Always " TEXT,
	"Purchase more locally produced goods - Often " TEXT,
	"Purchase more locally produced goods - Rarely " TEXT,
	"Purchase more locally produced goods - Sometimes " TEXT,
	"Purchase more locally produced goods - Never " TEXT,
	"Purchase products made of natural ingredients - Always " TEXT,
	"Purchase products made of natural ingredients - Often " TEXT,
	"Purchase products made of natural ingredients - Rarely " TEXT,
	"Purchase products made of natural ingredients - Sometimes " TEXT,
	"Purchase products made of natural ingredients - Never " TEXT,
	"Purchase second-hand items - Always " TEXT,
	"Purchase second-hand items - Often " TEXT,
	"Purchase second-hand items - Rarely " TEXT,
	"Purchase second-hand items - Sometimes " TEXT,
	"Purchase second-hand items - Never " TEXT,
	"Question_Number" TEXT,
	"Options" TEXT
)

/*
3 rows from Question_7 table:
Check if products are made from recyclable or biodegradable materials  - Always 	Check if products are made from recyclable or biodegradable materials  - Often 	Check if products are made from recyclable or biodegradable materials  - Rarely 	Check if products are made from recyclable or biodegradable materials  - Sometimes 	Check if products are made from recyclable or biodegradable materials  - Never 	Limit my use of single use plastics  - Always 	Limit my use of single use plastics  - Often 	Limit my use of single use plastics  - Rarely 	Limit my use of single use plastics  - Sometimes 	Limit my use of single use plastics  - Never 	Pay more for a more durable / longer lasting items - Always 	Pay more for a more durable / longer lasting items - Often 	Pay more for a more durable / longer lasting items - Rarely 	Pay more for a more durable / longer lasting items - Sometimes 	Pay more for a more durable / longer lasting items - Never 	Purchase fewer plastics - Always 	Purchase fewer plastics - Often 	Purchase fewer plastics - Rarely 	Purchase fewer plastics - Sometimes 	Purchase fewer plastics - Never 	Purchase more locally produced goods - Always 	Purchase more locally produced goods - Often 	Purchase more locally produced goods - Rarely 	Purchase more locally produced goods - Sometimes 	Purchase more locally produced goods - Never 	Purchase products made of natural ingredients - Always 	Purchase products made of natural ingredients - Often 	Purchase products made of natural ingredients - Rarely 	Purchase products made of natural ingredients - Sometimes 	Purchase products made of natural ingredients - Never 	Purchase second-hand items - Always 	Purchase second-hand items - Often 	Purchase second-hand items - Rarely 	Purchase second-hand items - Sometimes 	Purchase second-hand items - Never 	Question_Number	Options
167.0	344.0	215.0	169.0	114.0	232.0	424.0	149.0	153.0	51.0	183.0	414.0	167.0	183.0	62.0	200.0	393.0	164.0	211.0	41.0	167.0	400.0	178.0	217.0	47.0	153.0	447.0	172.0	198.0	39.0	116.0	375.0	227.0	200.0	91.0	0.0	Value
75.0	164.0	107.0	81.0	50.0	101.0	190.0	81.0	76.0	29.0	76.0	200.0	88.0	81.0	32.0	89.0	181.0	83.0	101.0	23.0	71.0	188.0	87.0	107.0	24.0	69.0	207.0	91.0	93.0	17.0	43.0	154.0	127.0	106.0	47.0	0.0	Male
92.0	180.0	108.0	88.0	64.0	131.0	234.0	68.0	77.0	22.0	107.0	214.0	79.0	102.0	30.0	111.0	212.0	81.0	110.0	18.0	96.0	212.0	91.0	110.0	23.0	84.0	240.0	81.0	105.0	22.0	73.0	221.0	100.0	94.0	44.0	0.0	Female
*/


CREATE TABLE "Questions" (
	"Question_Number" INTEGER,
	"Question" TEXT
)

/*
3 rows from Questions table:
Question_Number	Question
0	Common Data
1	Please rank the importance of the following issues facing the UK today. From 1 being the most import
2	Please select which, if any, of the following most closely represents your dietary preference:
*/
Invoking: `sql_db_query_checker` with `{'query': 'SELECT "Always ", "Often ", "Sometimes ", "Rarely ", "Never" FROM Question_4 WHERE Options = \'Male\' LIMIT 10;'}`
responded: To determine how much males buy sustainable and environmentally friendly products, we can refer to the "Question_4" table, which contains data on the frequency of purchasing such products. Let's query the relevant data for males from this table.

```sql
SELECT "Always ", "Often ", "Sometimes ", "Rarely ", "Never" FROM Question_4 WHERE Options = 'Male' LIMIT 10;
```
Invoking: `sql_db_query` with `{'query': 'SELECT "Always ", "Often ", "Sometimes ", "Rarely ", "Never" FROM Question_4 WHERE Options = \'Male\' LIMIT 10;'}`


[('90.0', '161.0', '179.0', '34.0', '13.0')]The data for males purchasing sustainable and environmentally friendly products is as follows:

- Always: 90
- Often: 161
- Sometimes: 179
- Rarely: 34
- Never: 13

This indicates that a significant number of males often or sometimes purchase products that are considered sustainable or environmentally friendly.

> Finished chain.
The data indicates that a significant number of males purchase sustainable and environmentally friendly products with varying frequency. Specifically:

- 90 males always purchase such products.
- 161 males often purchase them.
- 179 males sometimes purchase them.
- 34 males rarely purchase them.
- 13 males never purchase them.

This suggests that while there is a strong inclination among males to buy sustainable products, the frequency varies, with the majority falling into the "often" and "sometimes" categories.

In [119]:
print(res)

The data indicates that a significant number of males purchase sustainable and environmentally friendly products with varying frequency. Specifically:

- 90 males always purchase such products.
- 161 males often purchase them.
- 179 males sometimes purchase them.
- 34 males rarely purchase them.
- 13 males never purchase them.

This suggests that while there is a strong inclination among males to buy sustainable products, the frequency varies, with the majority falling into the "often" and "sometimes" categories.

### To test DB

In [1]:
from langchain_community.utilities import SQLDatabase
from sqlalchemy import create_engine

# Set up your SQL database connection
engine = create_engine('sqlite:///../Data/DB/Sustain.db')
db = SQLDatabase(engine)

# print(db.dialect)
# print(db.get_usable_table_names())

# Execute your query
query = """SELECT OPTIONS,
       "Yes "
FROM Question_15
ORDER BY "Yes " DESC
LIMIT 10;"""
# result = db.run(query)

# Get the column names from the result
with engine.connect() as connection:
    result_proxy = connection.execute(query)
    column_names = result_proxy.keys()

print(column_names)

ObjectNotExecutableError: Not an executable object: 'SELECT OPTIONS,\n       "Yes "\nFROM Question_15\nORDER BY "Yes " DESC\nLIMIT 10;'

ObjectNotExecutableError: Not an executable object: 'SELECT OPTIONS,\n       "Yes "\nFROM Question_15\nORDER BY "Yes " DESC\nLIMIT 10;'

In [1]:
from langchain_community.utilities import SQLDatabase

db = SQLDatabase.from_uri("sqlite:///../Data/DB/Sustain.db")
print(db.dialect)
print(db.get_usable_table_names())

sqlite
['Question_0', 'Question_1', 'Question_10', 'Question_11', 'Question_12', 'Question_13', 'Question_14', 'Question_15', 'Question_16', 'Question_17', 'Question_18', 'Question_19', 'Question_2', 'Question_20', 'Question_3', 'Question_4', 'Question_5', 'Question_6', 'Question_7', 'Question_8', 'Question_9', 'Questions']

In [6]:
db.run("""
SELECT OPTIONS,
       "Yes "
FROM Question_15
ORDER BY "Yes " DESC
LIMIT 10;
       """)

"[('Deforestation-free supply chain (minimising the consumption of products associated with deforestation and forest degradation)', '99'), ('Slightly Agree', '98.0'), ('25-34', '91.0'), ('Northern Ireland', '9.0'), ('Local', '9.0'), ('Lush', '9.0'), ('None of the above', '9'), ('Sourcing renewable / ‘green’ energy for production', '9'), ('35-44', '85.0'), ('Food & Beverage (food items, alcohol, carbonated drinks etc)', '84.0')]"

In [4]:
db.description

AttributeError: 'SQLDatabase' object has no attribute 'description'

In [3]:
db = SQLDatabase.from_uri(f"sqlite:///../Data/DB/Sustain2.db")
db.run("SELECT sql FROM sqlite_master WHERE type='table';")

'[(\'CREATE TABLE "Question_0" (\\n"Total" REAL,\\n  "Male" REAL,\\n  "Female" REAL,\\n  "North East" REAL,\\n  "North West" REAL,\\n  "Yorkshire & The Humber" REAL,\\n  "East Midlands" REAL,\\n  "West Midlands" REAL,\\n  "East of England" REAL,\\n  "London" REAL,\\n  "South East" REAL,\\n  "South West" REAL,\\n  "Wales"...\',), (\'CREATE TABLE "Question_1" (\\n"Crime " REAL,\\n  "Cost of Living " REAL,\\n  "Education " REAL,\\n  "Housing " REAL,\\n  "International conflict " REAL,\\n  "Mortgage interest rates " REAL,\\n  "The economy " REAL,\\n  "The environment and climate change " REAL,\\n  "The NHS " REAL,\\n  "Unemployment " REAL,\\n ...\',), (\'CREATE TABLE "Question_2" (\\n"Vegetarian " REAL,\\n  "Vegan " REAL,\\n  "Pescatarian " REAL,\\n  "Halal " REAL,\\n  "Kosher " REAL,\\n  "None of the above " REAL,\\n  "Question_Number" REAL,\\n  "Options" TEXT\\n)\',), (\'CREATE TABLE "Question_3" (\\n"Always " REAL,\\n  "Often " REAL,\\n  "Sometimes " REAL,\\n  "Rarely " REAL,\\n  "Never" REAL,\\n  "Question_Number" REAL,\\n  "Options" TEXT\\n)\',), (\'CREATE TABLE "Question_4" (\\n"Very important " REAL,\\n  "Fairly important " REAL,\\n  "Neither " REAL,\\n  "Fairly unimportant" REAL,\\n  "Very unimportant " REAL,\\n  "Question_Number" REAL,\\n  "Options" TEXT\\n)\',), (\'CREATE TABLE "Question_5" (\\n"Environmentally Friendly" REAL,\\n  "Good for the planet" REAL,\\n  "Less waste" REAL,\\n  "Local" REAL,\\n  "Ethical" REAL,\\n  "Don\\\'t Know" REAL,\\n  "Longer lasting" REAL,\\n  "No natural resource depletion" REAL,\\n  "Recyclable" REAL,\\n  "Locally Sourced" REAL,\\n  "Zero Carbon"...\',), (\'CREATE TABLE "Question_6" (\\n"Check if products are made from recyclable or biodegradable materials  - Always " REAL,\\n  "Check if products are made from recyclable or biodegradable materials  - Often " REAL,\\n  "Check if products are made from recyclable or biodegradable materials  - Rarely "...\',), (\'CREATE TABLE "Question_7" (\\n"Purchase brands that promote environmentally sustainable practices/values - Always " REAL,\\n  "Purchase brands that promote environmentally sustainable practices/values - Often " REAL,\\n  "Purchase brands that promote environmentally sustainable practices/values -...\',), (\'CREATE TABLE "Question_8" (\\n"The UK government " REAL,\\n  "Global corporations e.g the companies that own large well-known brands" REAL,\\n  "Global agencies e.g WWF, Greenpeace, friends of the earth etc" REAL,\\n  "All adults who live in the UK" REAL,\\n  "All of the above" REAL,\\n  "Question_Number"...\',), (\'CREATE TABLE "Question_9" (\\n"Very Much " REAL,\\n  "Somewhat" REAL,\\n  "Undecided " REAL,\\n  "Not Really " REAL,\\n  "Not at all" REAL,\\n  "Question_Number" REAL,\\n  "Options" TEXT\\n)\',), (\'CREATE TABLE "Question_10" (\\n"Deforestation-free supply chain (minimising the consumption of products associated with deforestation and forest degradation)" REAL,\\n  "Donating a proportion of profits to environmental organisations" REAL,\\n  "Implementing reduced waste goals" REAL,\\n  "Partnering...\',), (\'CREATE TABLE "Question_11" (\\n"Deforestation-free supply chain (minimising the consumption of products associated with deforestation and forest degradation)" REAL,\\n  "Donating a proportion of profits to environmental organisations" REAL,\\n  "Implementing reduced waste goals" REAL,\\n  "Partnering...\',), (\'CREATE TABLE "Question_12" (\\n"Very influenced " REAL,\\n  "Fairly influenced " REAL,\\n  "Neither " REAL,\\n  "Not very influenced" REAL,\\n  "Not at all influenced " REAL,\\n  "Question_Number" REAL,\\n  "Options" TEXT\\n)\',), (\'CREATE TABLE "Question_13" (\\n"Food & Beverage (food items, alcohol, carbonated drinks etc) - Excellent " REAL,\\n  "Food & Beverage (food items, alcohol, carbonated drinks etc) - Good " REAL,\\n  "Food & Beverage (food items, alcohol, carbonated drinks etc) - Fair " REAL,\\n  "Food & Beverage (food...\',), (\'CREATE TABLE "Question_14" (\\n"Food & Beverage (food items, alcohol, carbonated drinks etc)" REAL,\\n  "Health, Beauty & Cosmetics (haircare, skincare, make up, fragrances, toiletries etc.)" REAL,\\n  "Household Goods (cleaning items, food wrapping, toilet paper etc.)" REAL,\\n  "Fashion & Clothing...\',), (\'CREATE TABLE "Question_15" (\\n"Yes " REAL,\\n  "No " REAL,\\n  "Don\\\'t know " REAL,\\n  "Question_Number" REAL,\\n  "Options" TEXT\\n)\',), (\'CREATE TABLE "Question_16" (\\n"Food & Beverage (food items, alcohol, carbonated drinks etc)" REAL,\\n  "Health, Beauty & Cosmetics (haircare, skincare, make up, fragrances, toiletries etc.)" REAL,\\n  "Household Goods (cleaning items, food wrapping, toilet paper etc.)" REAL,\\n  "Fashion & Clothing...\',), (\'CREATE TABLE "Question_17" (\\n"Use of Chemicals" REAL,\\n  "Use of Palm Oil" REAL,\\n  "Animal Testing" REAL,\\n  "Ethical Concerns" REAL,\\n  "Plastic Packaging" REAL,\\n  "Renewable Resources" REAL,\\n  "Environmental Impact" REAL,\\n  "Sustainability" REAL,\\n  "Unethical Practices" REAL,\\n  "Supporting...\',), (\'CREATE TABLE "Question_18" (\\n"Food & Beverage (food items, alcohol, carbonated drinks etc) - Up to 5% more" REAL,\\n  "Food & Beverage (food items, alcohol, carbonated drinks etc) - Up to 10% more" REAL,\\n  "Food & Beverage (food items, alcohol, carbonated drinks etc) - Up to 20% more" REAL,\\n ...\',), (\'CREATE TABLE "Question_19" (\\n"Strongly Agree " REAL,\\n  "Slightly Agree " REAL,\\n  "Neither " REAL,\\n  "Slightly Disagree " REAL,\\n  "Strongly Disagree " REAL,\\n  "Question_Number" REAL,\\n  "Options" TEXT\\n)\',), (\'CREATE TABLE "Question_20" (\\n"Amazon" TEXT,\\n  "Smol" TEXT,\\n  "Coca Cola" TEXT,\\n  "Patagonia" TEXT,\\n  "The Body Shop" TEXT,\\n  "Apple" TEXT,\\n  "Lush" TEXT,\\n  "Lidl" TEXT,\\n  "Ecover" TEXT,\\n  "Oceansaver" TEXT,\\n  "Tesco" TEXT,\\n  "No / Don\\\'t Know" TEXT,\\n  "Tesla" TEXT,\\n  "Nike" TEXT,\\n  "No Group"...\',), (\'CREATE TABLE "Questions" (\\n"Question_Number" INTEGER,\\n  "Question" TEXT\\n)\',)]'